@import '~@thumbtack/thumbprint-tokens/dist/scss/_index';

.label {
    font-size: $tp-font__body__3__size;
    margin-top: $tp-space__2;
    text-align: left;
}

.labelCenter {
    text-align: center;
}
