@import '~@thumbtack/thumbprint-tokens/dist/scss/_index';
@import '~@thumbtack/tp-ui-core-function/_index';

.label {
    font-size: $tp-font__body__3__size;
    margin-top: tp-spacer(1);
    text-align: left;
}

.labelCenter {
    text-align: center;
}
