@import '~@thumbtack/thumbprint-tokens/dist/scss/_index';

.sideNav {
    // Momentum scrolling on iOS.
    -webkit-overflow-scrolling: touch;
}

.sideNavGroup:not(:last-of-type) {
    position: relative;

    &:after {
        content: '';
        position: absolute;
        height: 1px;
        background: $tp-color__gray-300;
    }
}

.sideNavGroupLevel2:not(:last-of-type) {
    margin-bottom: $tp-space__3;

    &:after {
        left: $tp-space__4;
        right: $tp-space__4;
        bottom: -($tp-space__2);
    }
}

.sideNavGroupLevel3:not(:last-of-type) {
    margin-bottom: $tp-space__2;

    &:after {
        left: $tp-space__5;
        right: $tp-space__5;
        bottom: -($tp-space__1);
    }
}

.sideNavClickableBox {
    user-select: none;
    cursor: pointer;
}

.sideNavLinkBlueActiveIndicator::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: $tp-space__1;
    background: $tp-color__blue;
}
