@import '~@thumbtack/thumbprint-tokens/dist/scss/_index';

.filterChip {
    flex: 0 0 auto;
    font-size: $tp-font__body__3__size;
    line-height: 18px;
    &Selected {
        border: 1px solid $tp-color__blue-100;
        color: $tp-color__blue;
        background-color: $tp-color__blue-100;
    }
    &NotSelected {
        border: 1px solid $tp-color__gray;
        color: $tp-color__blue;
        background-color: $tp-color__white;
    }
}

.contentContainer {
    display: flex;
    align-items: center;
}

.iconWrap {
    width: 14px;
    height: 14px;
    margin-right: $tp-space__2;
    overflow: hidden;
}
