@import '~@thumbtack/thumbprint-tokens/dist/scss/_index';

table.button {
    width: auto;
    margin: 0 0 $tp-space__3 0;
    /* prettier-ignore */
    Margin: 0 0 $tp-space__3 0;
    table {
        td {
            text-align: left;
            color: white;
            background: #009fd9;
            border-radius: $tp-corner-radius__base;

            a {
                font-family: $tp-font-family__base;
                font-size: $tp-font__body__1__size;
                font-weight: $tp-font-weight__bold;
                color: $tp-color__white;
                text-decoration: none;
                text-align: left;
                display: inline-block;
                padding: 13px 24px;
            }
        }
    }
}

table.button.secondary {
    table {
        td {
            background: $tp-color__white;
            color: $tp-color__blue;

            a {
                background: $tp-color__white;
                border: 2px solid $tp-color__gray;
                color: $tp-color__blue;
                padding: 11px 22px;
                border-radius: $tp-corner-radius__base;
            }
        }
    }
}

// Expand to full

table.button.expand,
table.button.expanded {
    width: 100%;

    table {
        width: 100%;

        a {
            text-align: center;
            width: 100%;
            padding-left: 0;
            padding-right: 0;
        }
    }

    center {
        min-width: 0;
    }
}
