@import '~@thumbtack/thumbprint-tokens/dist/scss/_index';

hr {
    height: 1px;
    border: none;
    color: $tp-color__gray-300;
    background-color: $tp-color__gray;
    margin-bottom: $tp-space__3;
    /* prettier-ignore */
    Margin-bottom: $tp-space__3;
}
