@import '~@thumbtack/thumbprint-tokens/dist/scss/_index';

.list {
    border-top: 1px solid $tp-color__gray-300;
}

.listBorderSurround {
    border: 1px solid $tp-color__gray-300;
    border-radius: 4px;
}

.listBorderBottom {
    border-bottom: 1px solid $tp-color__gray-300;
}

.listFlush {
    .item {
        padding-left: 0;
        padding-right: 0;
    }
}

.item {
    padding: $tp-space__2 $tp-space__3;

    &:not(:first-child) {
        border-top: 1px solid $tp-color__gray-300;
    }
}

.itemLink {
    padding: $tp-space__2 $tp-space__3;
    margin: -#{$tp-space__2} -#{$tp-space__3};
    display: block;
}
