@import '~@thumbtack/thumbprint-tokens/dist/scss/_index';

.componentGrid {
    display: grid;
    grid-column-gap: $tp-space__4;
    grid-row-gap: $tp-space__4;
    grid-template-columns: repeat(3, 1fr);
}

.platformButton {
    background: none;
    border: none;
    padding: 0 $tp-space__3;
}

.isActive {
    color: $tp-color__white;
    background: $tp-color__blue;
}
