@import '~@thumbtack/thumbprint-tokens/dist/scss/_index';
@import '~@thumbtack/thumbprint-scss/mixins';

$hashIconWidth: 16px;

.readingWidth {
    max-width: 580px;
}

.hashAnchor {
    position: relative;

    &:hover {
        // Allows user to hover over the icon which is absolutely positioned to the left of the
        // headline text.
        margin-left: $hashIconWidth * -2;
        padding-left: $hashIconWidth * 2;

        .hashAnchorLink {
            display: flex;
        }
    }
}

.hashAnchorLink {
    display: none;
    position: absolute;
    top: 50%;
    color: inherit;

    // Move the icon left of the text.
    transform: translate($hashIconWidth * -1.2, -50%);

    @include tp-respond-above($tp-breakpoint__large) {
        transform: translate($hashIconWidth * -1.6, -50%);
    }
}
