coverage
yarn.lock
dist
tmp
svg
.git
.cache
# These are `dist` files. They exist in the root of the `thumbprint-scss` folder so that consumers
# importing these have short and easy to remember import paths.
packages/thumbprint-scss/components.css
packages/thumbprint-scss/components.css.map
packages/thumbprint-scss/mixins.scss
packages/thumbprint-scss/mixins
# Ignore `dist` files created by the Thumbprint documentation.
www/public
www/.cache
# Prevent Yarn and Prettier from conflicting.
package.json
