# These are `dist` files. They exist in the root of the `thumbprint-scss` folder so that consumers
# importing these have short and easy to remember import paths.
packages/thumbprint-scss/*.css
packages/thumbprint-scss/*.css.map
# Ignore `dist` files created by the Thumbprint documentation.
www/public
www/.cache
# Prevent Yarn and Prettier from conflicting.
package.json

coverage
yarn.lock
dist
tmp
svg
.git
.cache
