@import '~@thumbtack/thumbprint-tokens/dist/scss/_index';

$close-button-height: 48px;

.contents {
    background-color: $tp-color__gray-200;
    border-radius: $tp-border-radius__base;
    position: relative;
    min-height: $close-button-height;
}

.contentsBrand {
    background-color: #f27802;
}

.closeButton {
    position: absolute;
    top: 0;
    right: 0;
    height: $close-button-height;
    width: 48px;
    background: none;
    border: none;
    padding: 0;
}

.closeIcon {
    fill: $tp-color__black-300;
    vertical-align: middle;
}

.closeIconBrand {
    opacity: 0.5;
}
