@import '~@thumbtack/thumbprint-tokens/dist/scss/_index.scss';

.tp-alert {
    display: flex;
    font-size: $tp-font__body__2__size;
    line-height: $tp-font__body__2__line-height;
    text-align: left;
    padding: 12px $tp-space__3;
    color: $tp-color__white;
    background: $tp-color__gray;
    font-weight: 700;
    border-radius: $tp-border-radius__base;

    & a {
        text-decoration: underline;
        cursor: pointer;
        color: $tp-color__white;
        fill: $tp-color__white;

        &:hover {
            color: $tp-color__white;
            opacity: 0.7;
        }
    }

    &--banner {
        display: block;
        text-align: center;
        border-radius: 0;
    }

    &--good-news {
        background: $tp-color__green;
    }

    &--bad-news {
        background: $tp-color__red;
    }

    &--warning {
        background: $tp-color__yellow-200;
        color: $tp-color__yellow-600;

        a,
        a:hover {
            color: $tp-color__yellow-600;
            fill: $tp-color__yellow-600;
        }
    }

    &--note {
        background: $tp-color__blue;
    }

    &__text {
        align-self: center;
    }

    &__icon {
        fill: currentColor;
        flex: none;
        margin-right: 12px;
        position: relative;
        top: -1px;
    }
}
