@import '~@thumbtack/thumbprint-tokens/dist/scss/_index.scss';

@import '../mixins/avatar';

.tp-avatar {
    position: relative;

    &__img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &--xsmall {
        @include tp-avatar--xsmall;
    }

    &--small {
        @include tp-avatar--small;
    }

    &--medium {
        @include tp-avatar--medium;
    }

    &--large {
        @include tp-avatar--large;
    }

    &--xlarge {
        @include tp-avatar--xlarge;
    }

    &__badge {
        color: $tp-color__white;
        position: absolute;
        top: 0;
        border-radius: 50%;
        border: 2px solid $tp-color__white;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;

        &--hired {
            background: $tp-color__green;
        }

        &--notification {
            background: $tp-color__red;
        }
    }
}
