@import '~@thumbtack/thumbprint-tokens/dist/scss/_index.scss';

$padding-sides: 6px;
$padding-ends: 12px;

.tp-block-list,
.tp-block-list-group {
    list-style: none;
    margin-left: 0;

    > li {
        padding: $padding-sides $padding-ends;
        border-top: 1px solid $tp-color__gray-300;
    }
}

.tp-block-list {
    // for links that will take up full space of list item.
    &__link {
        display: block;
        cursor: pointer;
        padding: $padding-sides $padding-ends;
        margin-top: -$padding-sides;
        margin-left: -$padding-ends;
        margin-right: -$padding-ends;
        margin-bottom: -$padding-sides;

        &:hover {
            background-color: $tp-color__gray-200;
        }

        &--active {
            background-color: $tp-color__gray-200;
        }
    }

    // removes padding on left/right so items are not indented.

    &--flush {
        > li {
            padding-left: 0;
            padding-right: 0;

            .tp-block-list__link {
                padding-left: 0;
                padding-right: 0;
                margin-left: 0;
                margin-right: 0;
            }
        }
    }

    &--all {
        > li:last-child {
            border-bottom: 1px solid $tp-color__gray-300;
        }
    }

    &--no-border {
        > li {
            border-top: 0;
        }
    }
}

.tp-block-list-group {
    border: 1px solid $tp-color__gray-300;
    border-radius: $tp-border-radius__base;

    > li:first-child {
        border: 0;
    }
}
