@import '~@thumbtack/thumbprint-tokens/dist/scss/_index.scss';

.tp-button-row {
    display: flex;

    .tp-button {
        margin-right: $tp-space__2;

        &:last-child {
            margin-right: 0;
        }
    }

    &--right {
        justify-content: flex-end;

        .tp-button {
            margin-right: 0;
            margin-left: $tp-space__2;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    &--center {
        justify-content: center;

        .tp-button {
            margin-left: $tp-space__1;
            margin-right: $tp-space__1;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    &__left {
        margin-right: auto;
    }

    &__right {
        margin-left: auto;
    }
}
