@import '~@thumbtack/thumbprint-tokens/dist/scss/_index.scss';

// Provides a wrapper for checkboxes and radio buttons

.tp-input-wrap {
    position: relative;

    & .tp-label {
        padding-left: 28px;
        font-weight: 400;
        cursor: pointer;
        position: relative;
    }

    + .tp-input-wrap {
        margin-top: $tp-space__2;
    }
}

.tp-input-wrap--flip {
    & .tp-label {
        padding-left: 0;
    }

    & .tp-radio-image,
    & .tp-checkbox-image {
        left: auto;
        right: 0;
    }
}

// Provides layout for form fields

.tp-form-fields {
    list-style: none;
    margin: 0;

    .tp-form-field__item:last-child {
        margin-bottom: 0;
    }
}

.tp-form-field__item {
    margin-bottom: $tp-space__3;
}

// Input placeholder color

::-webkit-input-placeholder {
    color: $tp-color__black-300;
}

::-moz-placeholder {
    color: $tp-color__black-300;
}

:-ms-input-placeholder {
    color: $tp-color__black-300;
}
