@import '~@thumbtack/thumbprint-tokens/dist/scss/_index.scss';

.tp-form-note {
    margin-top: $tp-space__1;
    font-size: $tp-font__body__3__size;
}

.tp-form-note--bad-news {
    color: $tp-color__red;
}
