@import '~@thumbtack/thumbprint-tokens/dist/scss/_index.scss';

@import '../mixins/mixin';

.tp-grid {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -#{$tp-space__3};
}

.tp-grid--narrow {
    margin-left: -#{$tp-space__2};
}

.tp-grid--narrow .tp-col {
    padding-left: $tp-space__2;
}

.tp-grid--wide {
    margin-left: -#{$tp-space__5};
}

.tp-grid--wide .tp-col {
    padding-left: $tp-space__5;
}

.tp-grid--flush {
    margin-left: 0;
    margin-right: 0;
}

.tp-grid--flush .tp-col {
    padding-left: 0;
    padding-right: 0;
}

.tp-grid--row-reverse {
    flex-direction: row-reverse;
}

.tp-grid--column-reverse {
    flex-direction: column-reverse;
}

.tp-grid--start {
    justify-content: flex-start;
}

.tp-grid--center {
    justify-content: center;
}

.tp-grid--end {
    justify-content: flex-end;
}

.tp-grid--top {
    align-items: flex-start;
}

.tp-grid--middle {
    align-items: center;
}

.tp-grid--bottom {
    align-items: flex-end;
}

.tp-grid--around {
    justify-content: space-around;
}

.tp-grid--between {
    justify-content: space-between;
}

// Columns

.tp-col {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-left: $tp-space__3;
}

.tp-col--1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
}

.tp-col--2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
}

.tp-col--3 {
    flex-basis: 25%;
    max-width: 25%;
}

.tp-col--4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
}

.tp-col--5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
}

.tp-col--6 {
    flex-basis: 50%;
    max-width: 50%;
}

.tp-col--7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
}

.tp-col--8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
}

.tp-col--9 {
    flex-basis: 75%;
    max-width: 75%;
}

.tp-col--10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
}

.tp-col--11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
}

.tp-col--12 {
    flex-basis: 100%;
    max-width: 100%;
}

.tp-col--offset-0 {
    margin-left: 0;
}

.tp-col--offset-1 {
    margin-left: 8.33333333%;
}

.tp-col--offset-2 {
    margin-left: 16.66666667%;
}

.tp-col--offset-3 {
    margin-left: 25%;
}

.tp-col--offset-4 {
    margin-left: 33.33333333%;
}

.tp-col--offset-5 {
    margin-left: 41.66666667%;
}

.tp-col--offset-6 {
    margin-left: 50%;
}

.tp-col--offset-7 {
    margin-left: 58.33333333%;
}

.tp-col--offset-8 {
    margin-left: 66.66666667%;
}

.tp-col--offset-9 {
    margin-left: 75%;
}

.tp-col--offset-10 {
    margin-left: 83.33333333%;
}

.tp-col--offset-11 {
    margin-left: 91.66666667%;
}

.tp-col--first {
    order: -1;
}

.tp-col--last {
    order: 1;
}

.tp-col--flex {
    flex: 1 auto;
}

@include tp-respond-above($tp-breakpoint__small) {
    .tp-grid--sm-start {
        justify-content: flex-start;
    }

    .tp-grid--sm-center {
        justify-content: center;
    }

    .tp-grid--sm-end {
        justify-content: flex-end;
    }

    .tp-grid--sm-top {
        align-items: flex-start;
    }

    .tp-grid--sm-middle {
        align-items: center;
    }

    .tp-grid--sm-bottom {
        align-items: flex-end;
    }

    .tp-grid--sm-around {
        justify-content: space-around;
    }

    .tp-grid--sm-between {
        justify-content: space-between;
    }

    .tp-col--sm {
        flex-grow: 1;
        flex-basis: 0;
        max-width: 100%;
    }

    .tp-col--sm-1 {
        flex-basis: 8.33333333%;
        max-width: 8.33333333%;
    }

    .tp-col--sm-2 {
        flex-basis: 16.66666667%;
        max-width: 16.66666667%;
    }

    .tp-col--sm-3 {
        flex-basis: 25%;
        max-width: 25%;
    }

    .tp-col--sm-4 {
        flex-basis: 33.33333333%;
        max-width: 33.33333333%;
    }

    .tp-col--sm-5 {
        flex-basis: 41.66666667%;
        max-width: 41.66666667%;
    }

    .tp-col--sm-6 {
        flex-basis: 50%;
        max-width: 50%;
    }

    .tp-col--sm-7 {
        flex-basis: 58.33333333%;
        max-width: 58.33333333%;
    }

    .tp-col--sm-8 {
        flex-basis: 66.66666667%;
        max-width: 66.66666667%;
    }

    .tp-col--sm-9 {
        flex-basis: 75%;
        max-width: 75%;
    }

    .tp-col--sm-10 {
        flex-basis: 83.33333333%;
        max-width: 83.33333333%;
    }

    .tp-col--sm-11 {
        flex-basis: 91.66666667%;
        max-width: 91.66666667%;
    }

    .tp-col--sm-12 {
        flex-basis: 100%;
        max-width: 100%;
    }

    .tp-col--sm-offset-0 {
        margin-left: 0;
    }

    .tp-col--sm-offset-1 {
        margin-left: 8.33333333%;
    }

    .tp-col--sm-offset-2 {
        margin-left: 16.66666667%;
    }

    .tp-col--sm-offset-3 {
        margin-left: 25%;
    }

    .tp-col--sm-offset-4 {
        margin-left: 33.33333333%;
    }

    .tp-col--sm-offset-5 {
        margin-left: 41.66666667%;
    }

    .tp-col--sm-offset-6 {
        margin-left: 50%;
    }

    .tp-col--sm-offset-7 {
        margin-left: 58.33333333%;
    }

    .tp-col--sm-offset-8 {
        margin-left: 66.66666667%;
    }

    .tp-col--sm-offset-9 {
        margin-left: 75%;
    }

    .tp-col--sm-offset-10 {
        margin-left: 83.33333333%;
    }

    .tp-col--sm-offset-11 {
        margin-left: 91.66666667%;
    }

    .tp-col--sm-first {
        order: -1;
    }

    .tp-col--sm-last {
        order: 1;
    }
}

@include tp-respond-above($tp-breakpoint__medium) {
    .tp-grid--md-start {
        justify-content: flex-start;
    }

    .tp-grid--md-center {
        justify-content: center;
    }

    .tp-grid--md-end {
        justify-content: flex-end;
    }

    .tp-grid--md-top {
        align-items: flex-start;
    }

    .tp-grid--md-middle {
        align-items: center;
    }

    .tp-grid--md-bottom {
        align-items: flex-end;
    }

    .tp-grid--md-around {
        justify-content: space-around;
    }

    .tp-grid--md-between {
        justify-content: space-between;
    }

    .tp-col--md {
        flex-grow: 1;
        flex-basis: 0;
        max-width: 100%;
    }

    .tp-col--md-1 {
        flex-basis: 8.33333333%;
        max-width: 8.33333333%;
    }

    .tp-col--md-2 {
        flex-basis: 16.66666667%;
        max-width: 16.66666667%;
    }

    .tp-col--md-3 {
        flex-basis: 25%;
        max-width: 25%;
    }

    .tp-col--md-4 {
        flex-basis: 33.33333333%;
        max-width: 33.33333333%;
    }

    .tp-col--md-5 {
        flex-basis: 41.66666667%;
        max-width: 41.66666667%;
    }

    .tp-col--md-6 {
        flex-basis: 50%;
        max-width: 50%;
    }

    .tp-col--md-7 {
        flex-basis: 58.33333333%;
        max-width: 58.33333333%;
    }

    .tp-col--md-8 {
        flex-basis: 66.66666667%;
        max-width: 66.66666667%;
    }

    .tp-col--md-9 {
        flex-basis: 75%;
        max-width: 75%;
    }

    .tp-col--md-10 {
        flex-basis: 83.33333333%;
        max-width: 83.33333333%;
    }

    .tp-col--md-11 {
        flex-basis: 91.66666667%;
        max-width: 91.66666667%;
    }

    .tp-col--md-12 {
        flex-basis: 100%;
        max-width: 100%;
    }

    .tp-col--md-offset-0 {
        margin-left: 0;
    }

    .tp-col--md-offset-1 {
        margin-left: 8.33333333%;
    }

    .tp-col--md-offset-2 {
        margin-left: 16.66666667%;
    }

    .tp-col--md-offset-3 {
        margin-left: 25%;
    }

    .tp-col--md-offset-4 {
        margin-left: 33.33333333%;
    }

    .tp-col--md-offset-5 {
        margin-left: 41.66666667%;
    }

    .tp-col--md-offset-6 {
        margin-left: 50%;
    }

    .tp-col--md-offset-7 {
        margin-left: 58.33333333%;
    }

    .tp-col--md-offset-8 {
        margin-left: 66.66666667%;
    }

    .tp-col--md-offset-9 {
        margin-left: 75%;
    }

    .tp-col--md-offset-10 {
        margin-left: 83.33333333%;
    }

    .tp-col--md-offset-11 {
        margin-left: 91.66666667%;
    }

    .tp-col--md-first {
        order: -1;
    }

    .tp-col--md-last {
        order: 1;
    }
}

@include tp-respond-above($tp-breakpoint__large) {
    .tp-grid--lg-start {
        justify-content: flex-start;
    }

    .tp-grid--lg-center {
        justify-content: center;
    }

    .tp-grid--lg-end {
        justify-content: flex-end;
    }

    .tp-grid--lg-top {
        align-items: flex-start;
    }

    .tp-grid--lg-middle {
        align-items: center;
    }

    .tp-grid--lg-bottom {
        align-items: flex-end;
    }

    .tp-grid--lg-around {
        justify-content: space-around;
    }

    .tp-grid--lg-between {
        justify-content: space-between;
    }

    .tp-col--lg {
        flex-grow: 1;
        flex-basis: 0;
        max-width: 100%;
    }

    .tp-col--lg-1 {
        flex-basis: 8.33333333%;
        max-width: 8.33333333%;
    }

    .tp-col--lg-2 {
        flex-basis: 16.66666667%;
        max-width: 16.66666667%;
    }

    .tp-col--lg-3 {
        flex-basis: 25%;
        max-width: 25%;
    }

    .tp-col--lg-4 {
        flex-basis: 33.33333333%;
        max-width: 33.33333333%;
    }

    .tp-col--lg-5 {
        flex-basis: 41.66666667%;
        max-width: 41.66666667%;
    }

    .tp-col--lg-6 {
        flex-basis: 50%;
        max-width: 50%;
    }

    .tp-col--lg-7 {
        flex-basis: 58.33333333%;
        max-width: 58.33333333%;
    }

    .tp-col--lg-8 {
        flex-basis: 66.66666667%;
        max-width: 66.66666667%;
    }

    .tp-col--lg-9 {
        flex-basis: 75%;
        max-width: 75%;
    }

    .tp-col--lg-10 {
        flex-basis: 83.33333333%;
        max-width: 83.33333333%;
    }

    .tp-col--lg-11 {
        flex-basis: 91.66666667%;
        max-width: 91.66666667%;
    }

    .tp-col--lg-12 {
        flex-basis: 100%;
        max-width: 100%;
    }

    .tp-col--lg-offset-0 {
        margin-left: 0;
    }

    .tp-col--lg-offset-1 {
        margin-left: 8.33333333%;
    }

    .tp-col--lg-offset-2 {
        margin-left: 16.66666667%;
    }

    .tp-col--lg-offset-3 {
        margin-left: 25%;
    }

    .tp-col--lg-offset-4 {
        margin-left: 33.33333333%;
    }

    .tp-col--lg-offset-5 {
        margin-left: 41.66666667%;
    }

    .tp-col--lg-offset-6 {
        margin-left: 50%;
    }

    .tp-col--lg-offset-7 {
        margin-left: 58.33333333%;
    }

    .tp-col--lg-offset-8 {
        margin-left: 66.66666667%;
    }

    .tp-col--lg-offset-9 {
        margin-left: 75%;
    }

    .tp-col--lg-offset-10 {
        margin-left: 83.33333333%;
    }

    .tp-col--lg-offset-11 {
        margin-left: 91.66666667%;
    }

    .tp-col--lg-first {
        order: -1;
    }

    .tp-col--lg-last {
        order: 1;
    }
}
