@import '~@thumbtack/thumbprint-tokens/dist/scss/_index.scss';

.tp-img {
    display: block;
    max-width: 100%;

    &--round {
        border-radius: $tp-border-radius__base;
    }

    &--circle {
        border-radius: 50%;
    }

    &--border {
        border: 1px solid $tp-color__gray-300;
    }

    &[width],
    &[height] {
        max-width: none;
    }
}

a .tp-img {
    border: 0;
}
