@import '~@thumbtack/thumbprint-tokens/dist/scss/_index.scss';

.tp-input-row {
    position: relative;
    z-index: 0;
    display: flex;

    & > * {
        margin-left: 0;
        border-radius: 0;

        &:not(:first-child) {
            margin-left: -2px;
        }

        &:hover,
        &:focus {
            position: relative;
        }

        &:first-child {
            border-radius: $tp-border-radius__base 0 0 $tp-border-radius__base;
        }

        &:last-child {
            border-radius: 0 $tp-border-radius__base $tp-border-radius__base 0;
        }
    }

    &--bleed > * {
        &:first-child,
        &:last-child {
            border-radius: 0;
        }
    }

    &--divider > .tp-button {
        &:not(:first-child) {
            border-left-color: $tp-color__blue-500;
        }
    }

    .tp-text-input {
        flex: 1;
    }

    // Keeps adjacent borders intact.

    .tp-button {
        position: relative;

        &:focus {
            z-index: 1;
        }
    }

    &--button-stretch {
        .tp-text-input {
            flex: 3;
        }

        .tp-button {
            flex: 1;
        }
    }
}
