@import '~@thumbtack/thumbprint-tokens/dist/scss/_index.scss';
@import '../mixins/function';

.tp-label {
    display: block;
    margin-bottom: tp-spacer(0.5);
    font-weight: 700;

    &--bad-news {
        color: $tp-color__red;
    }

    &--disabled {
        color: $tp-color__gray;
        cursor: default !important;
    }
}
