@import '~@thumbtack/thumbprint-tokens/dist/scss/_index.scss';

.tp-label {
    display: block;
    margin-bottom: $tp-space__1;
    font-weight: 700;

    &--bad-news {
        color: $tp-color__red;
    }

    &--disabled {
        color: $tp-color__gray;
        cursor: default !important;
    }
}
