@import '~@thumbtack/thumbprint-tokens/dist/scss/_index.scss';

.tp-radio-wrap {
    position: relative;
}

.tp-radio-input {
    position: absolute;
    opacity: 0;
    z-index: -1;
    width: 1px;
    height: 1px;

    & ~ .tp-label {
        margin-bottom: 0;
    }

    // Focus states
    &:focus + .tp-radio-image {
        box-shadow: 0 0 0 4px $tp-color__gray-300;
    }

    &.tp-radio-input--bad-news + .tp-radio-image {
        border-color: $tp-color__red;
    }

    // Override `.tp-radio-image` when the radio is checked
    &:checked {
        & + .tp-radio-image::after {
            content: '';
            display: block;
            width: 12px;
            height: 12px;
            border-radius: 50%;
        }

        &:not(:disabled):not(.tp-radio-input--bad-news) + .tp-radio-image {
            border-color: $tp-color__blue;

            &::after {
                background: $tp-color__blue;
            }
        }

        // Error state when radio is checked
        &.tp-radio-input--bad-news + .tp-radio-image::after {
            background: $tp-color__red;
        }

        &:disabled + .tp-radio-image::after {
            background: $tp-color__gray;
        }
    }

    // All disabled radios receive same background and border color.
    &:disabled + .tp-radio-image {
        background-color: $tp-color__gray-200;
        border-color: $tp-color__gray-300;
    }
}

.tp-radio-image {
    width: 20px;
    height: 20px;
    background: $tp-color__white;
    border: 2px solid $tp-color__gray;
    position: absolute;
    top: 3px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
