@import '~@thumbtack/thumbprint-tokens/dist/scss/_index.scss';

.tp-table {
    width: 100%;
    font-size: inherit;

    th,
    td {
        padding-left: $tp-space__3;
        padding-top: $tp-space__2;
        padding-bottom: $tp-space__2;

        &:first-child {
            padding-left: 0;
        }
    }

    th {
        font-weight: 700;
        font-size: $tp-font__title__4__size;
        color: $tp-color__black-300;
        text-align: left;

        // For columns that are sortable.

        &[field] {
            cursor: pointer;
        }
    }

    td {
        vertical-align: top;
    }

    // Cell Alignments
    // Defaults for cell alignments with one helper class for numbers.

    .tp-cell-collapse {
        width: 1%;
    }

    // Table Variations
    // We're using direct decendent selectors so any child tables do not
    // inherit styles.

    &--rule,
    &--rule-bottom {
        > thead {
            > th {
                padding-bottom: $tp-space__2;
            }

            > tr {
                border-bottom: 1px solid $tp-color__gray-300;
            }
        }

        & > tbody > tr {
            border-bottom: 1px solid $tp-color__gray-300;

            &:first-child {
                border-bottom: 1px solid $tp-color__gray-300;
            }

            &:last-child {
                border-bottom: none;
            }
        }
    }

    // By default tables with rules don't have bottom border

    &--rule-bottom > tbody > tr:last-child {
        border-bottom: 1px solid $tp-color__gray-300;
    }
}
