@import '~@thumbtack/thumbprint-tokens/dist/scss/_index.scss';

.tp-textarea {
    width: 100%;
    border: 1px solid $tp-color__gray;
    border-radius: $tp-border-radius__base;
    font-size: $tp-font__body__1__size;
    line-height: $tp-font__body__1__line-height;
    padding: 10px 14px;
    vertical-align: middle;
    resize: vertical;
    height: 152px;
    min-height: 104px;

    &:focus {
        color: $tp-color__black;
        border-color: $tp-color__blue;
    }

    &--bad-news {
        border-color: $tp-color__red;
        color: $tp-color__red;

        // This must be three separate rules, not a comma-separated list, to avoid the different
        // vendor prefixes conflicting.
        &::-webkit-input-placeholder {
            color: $tp-color__red;
        }

        &::-moz-placeholder {
            color: $tp-color__red;
        }

        &:-ms-input-placeholder {
            color: $tp-color__red;
        }
    }

    &[disabled],
    &--disabled {
        background-color: $tp-color__gray-200;
        color: $tp-color__gray;
    }
}
