@import '~@thumbtack/thumbprint-tokens/dist/scss/_index';
@import '~@thumbtack/thumbprint-scss/mixins';

// The double selectors in this file ensure that consumers using the `className` prop can't easily
// overwrite the styles that we want to enforce in the component.
.title1.title1 {
    font-size: $tp-font__title__1__size !important;
    line-height: $tp-font__title__1__line-height !important;
    font-weight: $tp-font__title__1__weight !important;

    @include tp-respond-above($tp-breakpoint__medium) {
        font-size: $tp-font__title__1__responsive__size !important;
        line-height: $tp-font__title__1__responsive__line-height !important;
        font-weight: $tp-font__title__1__responsive__weight !important;
    }
}

.title2.title2 {
    font-size: $tp-font__title__2__size !important;
    line-height: $tp-font__title__2__line-height !important;
    font-weight: $tp-font__title__2__weight !important;

    @include tp-respond-above($tp-breakpoint__medium) {
        font-size: $tp-font__title__2__responsive__size !important;
        line-height: $tp-font__title__2__responsive__line-height !important;
        font-weight: $tp-font__title__2__responsive__weight !important;
    }
}

.title3.title3 {
    font-size: $tp-font__title__3__size !important;
    line-height: $tp-font__title__3__line-height !important;
    font-weight: $tp-font__title__3__weight !important;

    @include tp-respond-above($tp-breakpoint__medium) {
        font-size: $tp-font__title__3__responsive__size !important;
        line-height: $tp-font__title__3__responsive__line-height !important;
        font-weight: $tp-font__title__3__responsive__weight !important;
    }
}

.title4.title4 {
    font-size: $tp-font__title__4__size !important;
    line-height: $tp-font__title__4__line-height !important;
    font-weight: $tp-font__title__4__weight !important;
}

.title5.title5 {
    font-size: $tp-font__title__5__size !important;
    line-height: $tp-font__title__5__line-height !important;
    font-weight: $tp-font__title__5__weight !important;
}

.title6.title6 {
    font-size: $tp-font__title__6__size !important;
    line-height: $tp-font__title__6__line-height !important;
    font-weight: $tp-font__title__6__weight !important;
}

.title7.title7 {
    font-size: $tp-font__title__7__size !important;
    line-height: $tp-font__title__7__line-height !important;
    font-weight: $tp-font__title__7__weight !important;
}

.title8.title8 {
    font-size: $tp-font__title__8__size !important;
    line-height: $tp-font__title__8__line-height !important;
    font-weight: $tp-font__title__8__weight !important;
}

.text1.text1 {
    font-size: $tp-font__body__1__size !important;
    line-height: $tp-font__body__1__line-height !important;
}

.text2.text2 {
    font-size: $tp-font__body__2__size !important;
    line-height: $tp-font__body__2__line-height !important;
}

.text3.text3 {
    font-size: $tp-font__body__3__size !important;
    line-height: $tp-font__body__3__line-height !important;
}
