@import '../../node_modules/@thumbtack/thumbprint-tokens/dist/scss/_index';
@import '../../node_modules/@thumbtack/tp-ui-core-mixin/_index';

.bg-center {
    background-repeat: no-repeat !important;
    background-position: center center !important;
}

.bg-top {
    background-repeat: no-repeat !important;
    background-position: top center !important;
}

.bg-right {
    background-repeat: no-repeat !important;
    background-position: center right !important;
}

.bg-bottom {
    background-repeat: no-repeat !important;
    background-position: bottom center !important;
}

.bg-left {
    background-repeat: no-repeat !important;
    background-position: center left !important;
}

@include tp-respond-above($tp-breakpoint__small) {
    .s_bg-center {
        background-repeat: no-repeat !important;
        background-position: center center !important;
    }

    .s_bg-top {
        background-repeat: no-repeat !important;
        background-position: top center !important;
    }

    .s_bg-right {
        background-repeat: no-repeat !important;
        background-position: center right !important;
    }

    .s_bg-bottom {
        background-repeat: no-repeat !important;
        background-position: bottom center !important;
    }

    .s_bg-left {
        background-repeat: no-repeat !important;
        background-position: center left !important;
    }
}

@include tp-respond-above($tp-breakpoint__medium) {
    .m_bg-center {
        background-repeat: no-repeat !important;
        background-position: center center !important;
    }

    .m_bg-top {
        background-repeat: no-repeat !important;
        background-position: top center !important;
    }

    .m_bg-right {
        background-repeat: no-repeat !important;
        background-position: center right !important;
    }

    .m_bg-bottom {
        background-repeat: no-repeat !important;
        background-position: bottom center !important;
    }

    .m_bg-left {
        background-repeat: no-repeat !important;
        background-position: center left !important;
    }
}

@include tp-respond-above($tp-breakpoint__large) {
    .l_bg-center {
        background-repeat: no-repeat !important;
        background-position: center center !important;
    }

    .l_bg-top {
        background-repeat: no-repeat !important;
        background-position: top center !important;
    }

    .l_bg-right {
        background-repeat: no-repeat !important;
        background-position: center right !important;
    }

    .l_bg-bottom {
        background-repeat: no-repeat !important;
        background-position: bottom center !important;
    }

    .l_bg-left {
        background-repeat: no-repeat !important;
        background-position: center left !important;
    }
}
