@import '../../node_modules/@thumbtack/thumbprint-tokens/dist/scss/_index';
@import '../../node_modules/@thumbtack/tp-ui-core-mixin/_index';

.bw-0 {
    border-width: 0 !important;
}

.bw-1 {
    border-width: 1px !important;
}

.bw-2 {
    border-width: 2px !important;
}

.bw-3 {
    border-width: 3px !important;
}

.bw-4 {
    border-width: 4px !important;
}

/* Resets */
.bt-0 {
    border-top-width: 0 !important;
}

.br-0 {
    border-right-width: 0 !important;
}

.bb-0 {
    border-bottom-width: 0 !important;
}

.bl-0 {
    border-left-width: 0 !important;
}

@include tp-respond-above($tp-breakpoint__small) {
    .s_bw-0 {
        border-width: 0 !important;
    }

    .s_bw-1 {
        border-width: 1px !important;
    }

    .s_bw-2 {
        border-width: 2px !important;
    }

    .s_bw-3 {
        border-width: 3px !important;
    }

    .s_bw-4 {
        border-width: 4px !important;
    }

    .s_bt-0 {
        border-top-width: 0 !important;
    }

    .s_br-0 {
        border-right-width: 0 !important;
    }

    .s_bb-0 {
        border-bottom-width: 0 !important;
    }

    .s_bl-0 {
        border-left-width: 0 !important;
    }
}

@include tp-respond-above($tp-breakpoint__medium) {
    .m_bw-0 {
        border-width: 0 !important;
    }

    .m_bw-1 {
        border-width: 1px !important;
    }

    .m_bw-2 {
        border-width: 2px !important;
    }

    .m_bw-3 {
        border-width: 3px !important;
    }

    .m_bw-4 {
        border-width: 4px !important;
    }

    .m_bt-0 {
        border-top-width: 0 !important;
    }

    .m_br-0 {
        border-right-width: 0 !important;
    }

    .m_bb-0 {
        border-bottom-width: 0 !important;
    }

    .m_bl-0 {
        border-left-width: 0 !important;
    }
}

@include tp-respond-above($tp-breakpoint__large) {
    .l_bw-0 {
        border-width: 0 !important;
    }

    .l_bw-1 {
        border-width: 1px !important;
    }

    .l_bw-2 {
        border-width: 2px !important;
    }

    .l_bw-3 {
        border-width: 3px !important;
    }

    .l_bw-4 {
        border-width: 4px !important;
    }

    .l_bt-0 {
        border-top-width: 0 !important;
    }

    .l_br-0 {
        border-right-width: 0 !important;
    }

    .l_bb-0 {
        border-bottom-width: 0 !important;
    }

    .l_bl-0 {
        border-left-width: 0 !important;
    }
}
