@import '../../node_modules/@thumbtack/thumbprint-tokens/dist/scss/_index';
@import '../../node_modules/@thumbtack/tp-ui-core-mixin/_index';

.ba {
    border-style: solid !important;
    border-width: 1px !important;
}

.bt {
    border-top-style: solid !important;
    border-top-width: 1px !important;
}

.br {
    border-right-style: solid !important;
    border-right-width: 1px !important;
}

.bb {
    border-bottom-style: solid !important;
    border-bottom-width: 1px !important;
}

.bl {
    border-left-style: solid !important;
    border-left-width: 1px !important;
}

.bn {
    border-style: none !important;
    border-width: 0 !important;
}

@include tp-respond-above($tp-breakpoint__small) {
    .s_ba {
        border-style: solid !important;
        border-width: 1px !important;
    }

    .s_bt {
        border-top-style: solid !important;
        border-top-width: 1px !important;
    }

    .s_br {
        border-right-style: solid !important;
        border-right-width: 1px !important;
    }

    .s_bb {
        border-bottom-style: solid !important;
        border-bottom-width: 1px !important;
    }

    .s_bl {
        border-left-style: solid !important;
        border-left-width: 1px !important;
    }

    .s_bn {
        border-style: none !important;
        border-width: 0 !important;
    }
}

@include tp-respond-above($tp-breakpoint__medium) {
    .m_ba {
        border-style: solid !important;
        border-width: 1px !important;
    }

    .m_bt {
        border-top-style: solid !important;
        border-top-width: 1px !important;
    }

    .m_br {
        border-right-style: solid !important;
        border-right-width: 1px !important;
    }

    .m_bb {
        border-bottom-style: solid !important;
        border-bottom-width: 1px !important;
    }

    .m_bl {
        border-left-style: solid !important;
        border-left-width: 1px !important;
    }

    .m_bn {
        border-style: none !important;
        border-width: 0 !important;
    }
}

@include tp-respond-above($tp-breakpoint__large) {
    .l_ba {
        border-style: solid !important;
        border-width: 1px !important;
    }

    .l_bt {
        border-top-style: solid !important;
        border-top-width: 1px !important;
    }

    .l_br {
        border-right-style: solid !important;
        border-right-width: 1px !important;
    }

    .l_bb {
        border-bottom-style: solid !important;
        border-bottom-width: 1px !important;
    }

    .l_bl {
        border-left-style: solid !important;
        border-left-width: 1px !important;
    }

    .l_bn {
        border-style: none !important;
        border-width: 0 !important;
    }
}
