@import '../../node_modules/@thumbtack/thumbprint-tokens/dist/scss/_index';

.b-black {
    border-color: $tp-color__black !important;
}

.b-black-300 {
    border-color: $tp-color__black-300 !important;
}

.b-white {
    border-color: $tp-color__white !important;
}

.b-blue {
    border-color: $tp-color__blue !important;
}

.b-indigo {
    border-color: $tp-color__indigo !important;
}

.b-purple {
    border-color: $tp-color__purple !important;
}

.b-green {
    border-color: $tp-color__green !important;
}

.b-yellow {
    border-color: $tp-color__yellow !important;
}

.b-red {
    border-color: $tp-color__red !important;
}

.b-gray {
    border-color: $tp-color__gray !important;
}

.b-gray-200 {
    border-color: $tp-color__gray-200 !important;
}

.b-gray-300 {
    border-color: $tp-color__gray-300 !important;
}
