@import '../../node_modules/@thumbtack/thumbprint-tokens/dist/scss/_index';
@import '../../node_modules/@thumbtack/tp-ui-core-mixin/_index';

.b-dotted {
    border-style: dotted !important;
}

.b-dashed {
    border-style: dashed !important;
}

.b-solid {
    border-style: solid !important;
}

.b-none {
    border-style: none !important;
}

@include tp-respond-above($tp-breakpoint__small) {
    .s_b-dotted {
        border-style: dotted !important;
    }

    .s_b-dashed {
        border-style: dashed !important;
    }

    .s_b-solid {
        border-style: solid !important;
    }

    .s_b-none {
        border-style: none !important;
    }
}

@include tp-respond-above($tp-breakpoint__medium) {
    .m_b-dotted {
        border-style: dotted !important;
    }

    .m_b-dashed {
        border-style: dashed !important;
    }

    .m_b-solid {
        border-style: solid !important;
    }

    .m_b-none {
        border-style: none !important;
    }
}

@include tp-respond-above($tp-breakpoint__large) {
    .l_b-dotted {
        border-style: dotted !important;
    }

    .l_b-dashed {
        border-style: dashed !important;
    }

    .l_b-solid {
        border-style: solid !important;
    }

    .l_b-none {
        border-style: none !important;
    }
}
