@import '~@thumbtack/thumbprint-tokens/dist/scss/_index';
@import '~@thumbtack/thumbprint-scss/mixins';

.color-inherit {
    color: inherit !important;
}

.white {
    color: $tp-color__white !important;
}

.black {
    color: $tp-color__black !important;
}

.black-300 {
    color: $tp-color__black-300 !important;
}

.blue {
    color: $tp-color__blue !important;
}

.indigo {
    color: $tp-color__indigo !important;
}

.purple {
    color: $tp-color__purple !important;
}

.green {
    color: $tp-color__green !important;
}

.yellow {
    color: $tp-color__yellow !important;
}

.red {
    color: $tp-color__red !important;
}

.gray {
    color: $tp-color__gray !important;
}

.gray-200 {
    color: $tp-color__gray-200 !important;
}

.gray-300 {
    color: $tp-color__gray-300 !important;
}

.bg-white {
    background-color: $tp-color__white !important;
}

.bg-black {
    background-color: $tp-color__black !important;
}

.bg-black-300 {
    background-color: $tp-color__black-300 !important;
}

.bg-blue {
    background-color: $tp-color__blue !important;
}

.bg-indigo {
    background-color: $tp-color__indigo !important;
}

.bg-purple {
    background-color: $tp-color__purple !important;
}

.bg-green {
    background-color: $tp-color__green !important;
}

.bg-yellow {
    background-color: $tp-color__yellow !important;
}

.bg-red {
    background-color: $tp-color__red !important;
}

.bg-gray {
    background-color: $tp-color__gray !important;
}

.bg-gray-200 {
    background-color: $tp-color__gray-200 !important;
}

.bg-gray-300 {
    background-color: $tp-color__gray-300 !important;
}

.hover-white:hover {
    color: $tp-color__white !important;
}

.hover-white:focus {
    color: $tp-color__white !important;
}

.hover-black:hover {
    color: $tp-color__black !important;
}

.hover-black:focus {
    color: $tp-color__black !important;
}

.hover-black-300:hover {
    color: $tp-color__black-300 !important;
}

.hover-black-300:focus {
    color: $tp-color__black-300 !important;
}

.hover-blue:hover {
    color: $tp-color__blue !important;
}

.hover-blue:focus {
    color: $tp-color__blue !important;
}

.hover-indigo:hover {
    color: $tp-color__indigo !important;
}

.hover-indigo:focus {
    color: $tp-color__indigo !important;
}

.hover-purple:hover {
    color: $tp-color__purple !important;
}

.hover-purple:focus {
    color: $tp-color__purple !important;
}

.hover-green:hover {
    color: $tp-color__green !important;
}

.hover-green:focus {
    color: $tp-color__green !important;
}

.hover-yellow:hover {
    color: $tp-color__yellow !important;
}

.hover-yellow:focus {
    color: $tp-color__yellow !important;
}

.hover-red:hover {
    color: $tp-color__red !important;
}

.hover-red:focus {
    color: $tp-color__red !important;
}

.hover-gray:hover {
    color: $tp-color__gray !important;
}

.hover-gray:focus {
    color: $tp-color__gray !important;
}

.hover-gray-200:hover {
    color: $tp-color__gray-200 !important;
}

.hover-gray-200:focus {
    color: $tp-color__gray-200 !important;
}

.hover-gray-300:hover {
    color: $tp-color__gray-300 !important;
}

.hover-gray-300:focus {
    color: $tp-color__gray-300 !important;
}

.hover-bg-white:hover {
    background-color: $tp-color__white !important;
}

.hover-bg-white:focus {
    background-color: $tp-color__white !important;
}

.hover-bg-black:hover {
    background-color: $tp-color__black !important;
}

.hover-bg-black:focus {
    background-color: $tp-color__black !important;
}

.hover-bg-black-300:hover {
    background-color: $tp-color__black-300 !important;
}

.hover-bg-black-300:focus {
    background-color: $tp-color__black-300 !important;
}

.hover-bg-blue:hover {
    background-color: $tp-color__blue !important;
}

.hover-bg-blue:focus {
    background-color: $tp-color__blue !important;
}

.hover-bg-indigo:hover {
    background-color: $tp-color__indigo !important;
}

.hover-bg-indigo:focus {
    background-color: $tp-color__indigo !important;
}

.hover-bg-purple:hover {
    background-color: $tp-color__purple !important;
}

.hover-bg-purple:focus {
    background-color: $tp-color__purple !important;
}

.hover-bg-green:hover {
    background-color: $tp-color__green !important;
}

.hover-bg-green:focus {
    background-color: $tp-color__green !important;
}

.hover-bg-yellow:hover {
    background-color: $tp-color__yellow !important;
}

.hover-bg-yellow:focus {
    background-color: $tp-color__yellow !important;
}

.hover-bg-red:hover {
    background-color: $tp-color__red !important;
}

.hover-bg-red:focus {
    background-color: $tp-color__red !important;
}

.hover-bg-gray:hover {
    background-color: $tp-color__gray !important;
}

.hover-bg-gray:focus {
    background-color: $tp-color__gray !important;
}

.hover-bg-gray-200:hover {
    background-color: $tp-color__gray-200 !important;
}

.hover-bg-gray-200:focus {
    background-color: $tp-color__gray-200 !important;
}

.hover-bg-gray-300:hover {
    background-color: $tp-color__gray-300 !important;
}

.hover-bg-gray-300:focus {
    background-color: $tp-color__gray-300 !important;
}
