@import '~@thumbtack/thumbprint-tokens/dist/scss/_index';
@import '~@thumbtack/thumbprint-scss/mixins';

.top0 {
    top: 0 !important;
}

.right0 {
    right: 0 !important;
}

.bottom0 {
    bottom: 0 !important;
}

.left0 {
    left: 0 !important;
}

.top1 {
    top: $tp-space__2 !important;
}

.right1 {
    right: $tp-space__2 !important;
}

.bottom1 {
    bottom: $tp-space__2 !important;
}

.left1 {
    left: $tp-space__2 !important;
}

.top2 {
    top: $tp-space__3 !important;
}

.right2 {
    right: $tp-space__3 !important;
}

.bottom2 {
    bottom: $tp-space__3 !important;
}

.left2 {
    left: $tp-space__3 !important;
}

.-top1 {
    top: -$tp-space__2 !important;
}

.-right1 {
    right: -$tp-space__2 !important;
}

.-bottom1 {
    bottom: -$tp-space__2 !important;
}

.-left1 {
    left: -$tp-space__2 !important;
}

.-top2 {
    top: -$tp-space__3 !important;
}

.-right2 {
    right: -$tp-space__3 !important;
}

.-bottom2 {
    bottom: -$tp-space__3 !important;
}

.-left2 {
    left: -$tp-space__3 !important;
}

.absolute-fill {
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
}

.top-0 {
    top: 0 !important;
}

.top-1 {
    top: 1px !important;
}

.top-2 {
    top: 2px !important;
}

.top-3 {
    top: 3px !important;
}

.top-4 {
    top: 4px !important;
}

.top-5 {
    top: 5px !important;
}

.right-0 {
    right: 0 !important;
}

.right-1 {
    right: 1px !important;
}

.right-2 {
    right: 2px !important;
}

.right-3 {
    right: 3px !important;
}

.right-4 {
    right: 4px !important;
}

.right-5 {
    right: 5px !important;
}

.bottom-0 {
    bottom: 0 !important;
}

.bottom-1 {
    bottom: 1px !important;
}

.bottom-2 {
    bottom: 2px !important;
}

.bottom-3 {
    bottom: 3px !important;
}

.bottom-4 {
    bottom: 4px !important;
}

.bottom-5 {
    bottom: 5px !important;
}

.left-0 {
    left: 0 !important;
}

.left-1 {
    left: 1px !important;
}

.left-2 {
    left: 2px !important;
}

.left-3 {
    left: 3px !important;
}

.left-4 {
    left: 4px !important;
}

.left-5 {
    left: 5px !important;
}

.-top-1 {
    top: -1px !important;
}

.-top-2 {
    top: -2px !important;
}

.-top-3 {
    top: -3px !important;
}

.-top-4 {
    top: -4px !important;
}

.-top-5 {
    top: -5px !important;
}

.-right-1 {
    right: -1px !important;
}

.-right-2 {
    right: -2px !important;
}

.-right-3 {
    right: -3px !important;
}

.-right-4 {
    right: -4px !important;
}

.-right-5 {
    right: -5px !important;
}

.-bottom-1 {
    bottom: -1px !important;
}

.-bottom-2 {
    bottom: -2px !important;
}

.-bottom-3 {
    bottom: -3px !important;
}

.-bottom-4 {
    bottom: -4px !important;
}

.-bottom-5 {
    bottom: -5px !important;
}

.-left-1 {
    left: -1px !important;
}

.-left-2 {
    left: -2px !important;
}

.-left-3 {
    left: -3px !important;
}

.-left-4 {
    left: -4px !important;
}

.-left-5 {
    left: -5px !important;
}

@include tp-respond-above($tp-breakpoint__small) {
    .s_top0 {
        top: 0 !important;
    }

    .s_right0 {
        right: 0 !important;
    }

    .s_bottom0 {
        bottom: 0 !important;
    }

    .s_left0 {
        left: 0 !important;
    }

    .s_top1 {
        top: $tp-space__2 !important;
    }

    .s_right1 {
        right: $tp-space__2 !important;
    }

    .s_bottom1 {
        bottom: $tp-space__2 !important;
    }

    .s_left1 {
        left: $tp-space__2 !important;
    }

    .s_top2 {
        top: $tp-space__3 !important;
    }

    .s_right2 {
        right: $tp-space__3 !important;
    }

    .s_bottom2 {
        bottom: $tp-space__3 !important;
    }

    .s_left2 {
        left: $tp-space__3 !important;
    }

    .s_-top1 {
        top: -$tp-space__2 !important;
    }

    .s_-right1 {
        right: -$tp-space__2 !important;
    }

    .s_-bottom1 {
        bottom: -$tp-space__2 !important;
    }

    .s_-left1 {
        left: -$tp-space__2 !important;
    }

    .s_-top2 {
        top: -$tp-space__3 !important;
    }

    .s_-right2 {
        right: -$tp-space__3 !important;
    }

    .s_-bottom2 {
        bottom: -$tp-space__3 !important;
    }

    .s_-left2 {
        left: -$tp-space__3 !important;
    }

    .s_absolute-fill {
        top: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
    }

    .s_top-0 {
        top: 0 !important;
    }

    .s_top-1 {
        top: 1px !important;
    }

    .s_top-2 {
        top: 2px !important;
    }

    .s_top-3 {
        top: 3px !important;
    }

    .s_top-4 {
        top: 4px !important;
    }

    .s_top-5 {
        top: 5px !important;
    }

    .s_right-0 {
        right: 0 !important;
    }

    .s_right-1 {
        right: 1px !important;
    }

    .s_right-2 {
        right: 2px !important;
    }

    .s_right-3 {
        right: 3px !important;
    }

    .s_right-4 {
        right: 4px !important;
    }

    .s_right-5 {
        right: 5px !important;
    }

    .s_bottom-0 {
        bottom: 0 !important;
    }

    .s_bottom-1 {
        bottom: 1px !important;
    }

    .s_bottom-2 {
        bottom: 2px !important;
    }

    .s_bottom-3 {
        bottom: 3px !important;
    }

    .s_bottom-4 {
        bottom: 4px !important;
    }

    .s_bottom-5 {
        bottom: 5px !important;
    }

    .s_left-0 {
        left: 0 !important;
    }

    .s_left-1 {
        left: 1px !important;
    }

    .s_left-2 {
        left: 2px !important;
    }

    .s_left-3 {
        left: 3px !important;
    }

    .s_left-4 {
        left: 4px !important;
    }

    .s_left-5 {
        left: 5px !important;
    }

    .s_-top-1 {
        top: -1px !important;
    }

    .s_-top-2 {
        top: -2px !important;
    }

    .s_-top-3 {
        top: -3px !important;
    }

    .s_-top-4 {
        top: -4px !important;
    }

    .s_-top-5 {
        top: -5px !important;
    }

    .s_-right-1 {
        right: -1px !important;
    }

    .s_-right-2 {
        right: -2px !important;
    }

    .s_-right-3 {
        right: -3px !important;
    }

    .s_-right-4 {
        right: -4px !important;
    }

    .s_-right-5 {
        right: -5px !important;
    }

    .s_-bottom-1 {
        bottom: -1px !important;
    }

    .s_-bottom-2 {
        bottom: -2px !important;
    }

    .s_-bottom-3 {
        bottom: -3px !important;
    }

    .s_-bottom-4 {
        bottom: -4px !important;
    }

    .s_-bottom-5 {
        bottom: -5px !important;
    }

    .s_-left-1 {
        left: -1px !important;
    }

    .s_-left-2 {
        left: -2px !important;
    }

    .s_-left-3 {
        left: -3px !important;
    }

    .s_-left-4 {
        left: -4px !important;
    }

    .s_-left-5 {
        left: -5px !important;
    }
}

@include tp-respond-above($tp-breakpoint__medium) {
    .m_top0 {
        top: 0 !important;
    }

    .m_right0 {
        right: 0 !important;
    }

    .m_bottom0 {
        bottom: 0 !important;
    }

    .m_left0 {
        left: 0 !important;
    }

    .m_top1 {
        top: $tp-space__2 !important;
    }

    .m_right1 {
        right: $tp-space__2 !important;
    }

    .m_bottom1 {
        bottom: $tp-space__2 !important;
    }

    .m_left1 {
        left: $tp-space__2 !important;
    }

    .m_top2 {
        top: $tp-space__3 !important;
    }

    .m_right2 {
        right: $tp-space__3 !important;
    }

    .m_bottom2 {
        bottom: $tp-space__3 !important;
    }

    .m_left2 {
        left: $tp-space__3 !important;
    }

    .m_-top1 {
        top: -$tp-space__2 !important;
    }

    .m_-right1 {
        right: -$tp-space__2 !important;
    }

    .m_-bottom1 {
        bottom: -$tp-space__2 !important;
    }

    .m_-left1 {
        left: -$tp-space__2 !important;
    }

    .m_-top2 {
        top: -$tp-space__3 !important;
    }

    .m_-right2 {
        right: -$tp-space__3 !important;
    }

    .m_-bottom2 {
        bottom: -$tp-space__3 !important;
    }

    .m_-left2 {
        left: -$tp-space__3 !important;
    }

    .m_absolute-fill {
        top: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
    }

    .m_top-0 {
        top: 0 !important;
    }

    .m_top-1 {
        top: 1px !important;
    }

    .m_top-2 {
        top: 2px !important;
    }

    .m_top-3 {
        top: 3px !important;
    }

    .m_top-4 {
        top: 4px !important;
    }

    .m_top-5 {
        top: 5px !important;
    }

    .m_right-0 {
        right: 0 !important;
    }

    .m_right-1 {
        right: 1px !important;
    }

    .m_right-2 {
        right: 2px !important;
    }

    .m_right-3 {
        right: 3px !important;
    }

    .m_right-4 {
        right: 4px !important;
    }

    .m_right-5 {
        right: 5px !important;
    }

    .m_bottom-0 {
        bottom: 0 !important;
    }

    .m_bottom-1 {
        bottom: 1px !important;
    }

    .m_bottom-2 {
        bottom: 2px !important;
    }

    .m_bottom-3 {
        bottom: 3px !important;
    }

    .m_bottom-4 {
        bottom: 4px !important;
    }

    .m_bottom-5 {
        bottom: 5px !important;
    }

    .m_left-0 {
        left: 0 !important;
    }

    .m_left-1 {
        left: 1px !important;
    }

    .m_left-2 {
        left: 2px !important;
    }

    .m_left-3 {
        left: 3px !important;
    }

    .m_left-4 {
        left: 4px !important;
    }

    .m_left-5 {
        left: 5px !important;
    }

    .m_-top-1 {
        top: -1px !important;
    }

    .m_-top-2 {
        top: -2px !important;
    }

    .m_-top-3 {
        top: -3px !important;
    }

    .m_-top-4 {
        top: -4px !important;
    }

    .m_-top-5 {
        top: -5px !important;
    }

    .m_-right-1 {
        right: -1px !important;
    }

    .m_-right-2 {
        right: -2px !important;
    }

    .m_-right-3 {
        right: -3px !important;
    }

    .m_-right-4 {
        right: -4px !important;
    }

    .m_-right-5 {
        right: -5px !important;
    }

    .m_-bottom-1 {
        bottom: -1px !important;
    }

    .m_-bottom-2 {
        bottom: -2px !important;
    }

    .m_-bottom-3 {
        bottom: -3px !important;
    }

    .m_-bottom-4 {
        bottom: -4px !important;
    }

    .m_-bottom-5 {
        bottom: -5px !important;
    }

    .m_-left-1 {
        left: -1px !important;
    }

    .m_-left-2 {
        left: -2px !important;
    }

    .m_-left-3 {
        left: -3px !important;
    }

    .m_-left-4 {
        left: -4px !important;
    }

    .m_-left-5 {
        left: -5px !important;
    }
}

@include tp-respond-above($tp-breakpoint__large) {
    .l_top0 {
        top: 0 !important;
    }

    .l_right0 {
        right: 0 !important;
    }

    .l_bottom0 {
        bottom: 0 !important;
    }

    .l_left0 {
        left: 0 !important;
    }

    .l_top1 {
        top: $tp-space__2 !important;
    }

    .l_right1 {
        right: $tp-space__2 !important;
    }

    .l_bottom1 {
        bottom: $tp-space__2 !important;
    }

    .l_left1 {
        left: $tp-space__2 !important;
    }

    .l_top2 {
        top: $tp-space__3 !important;
    }

    .l_right2 {
        right: $tp-space__3 !important;
    }

    .l_bottom2 {
        bottom: $tp-space__3 !important;
    }

    .l_left2 {
        left: $tp-space__3 !important;
    }

    .l_-top1 {
        top: -$tp-space__2 !important;
    }

    .l_-right1 {
        right: -$tp-space__2 !important;
    }

    .l_-bottom1 {
        bottom: -$tp-space__2 !important;
    }

    .l_-left1 {
        left: -$tp-space__2 !important;
    }

    .l_-top2 {
        top: -$tp-space__3 !important;
    }

    .l_-right2 {
        right: -$tp-space__3 !important;
    }

    .l_-bottom2 {
        bottom: -$tp-space__3 !important;
    }

    .l_-left2 {
        left: -$tp-space__3 !important;
    }

    .l_absolute-fill {
        top: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
    }

    .l_top-0 {
        top: 0 !important;
    }

    .l_top-1 {
        top: 1px !important;
    }

    .l_top-2 {
        top: 2px !important;
    }

    .l_top-3 {
        top: 3px !important;
    }

    .l_top-4 {
        top: 4px !important;
    }

    .l_top-5 {
        top: 5px !important;
    }

    .l_right-0 {
        right: 0 !important;
    }

    .l_right-1 {
        right: 1px !important;
    }

    .l_right-2 {
        right: 2px !important;
    }

    .l_right-3 {
        right: 3px !important;
    }

    .l_right-4 {
        right: 4px !important;
    }

    .l_right-5 {
        right: 5px !important;
    }

    .l_bottom-0 {
        bottom: 0 !important;
    }

    .l_bottom-1 {
        bottom: 1px !important;
    }

    .l_bottom-2 {
        bottom: 2px !important;
    }

    .l_bottom-3 {
        bottom: 3px !important;
    }

    .l_bottom-4 {
        bottom: 4px !important;
    }

    .l_bottom-5 {
        bottom: 5px !important;
    }

    .l_left-0 {
        left: 0 !important;
    }

    .l_left-1 {
        left: 1px !important;
    }

    .l_left-2 {
        left: 2px !important;
    }

    .l_left-3 {
        left: 3px !important;
    }

    .l_left-4 {
        left: 4px !important;
    }

    .l_left-5 {
        left: 5px !important;
    }

    .l_-top-1 {
        top: -1px !important;
    }

    .l_-top-2 {
        top: -2px !important;
    }

    .l_-top-3 {
        top: -3px !important;
    }

    .l_-top-4 {
        top: -4px !important;
    }

    .l_-top-5 {
        top: -5px !important;
    }

    .l_-right-1 {
        right: -1px !important;
    }

    .l_-right-2 {
        right: -2px !important;
    }

    .l_-right-3 {
        right: -3px !important;
    }

    .l_-right-4 {
        right: -4px !important;
    }

    .l_-right-5 {
        right: -5px !important;
    }

    .l_-bottom-1 {
        bottom: -1px !important;
    }

    .l_-bottom-2 {
        bottom: -2px !important;
    }

    .l_-bottom-3 {
        bottom: -3px !important;
    }

    .l_-bottom-4 {
        bottom: -4px !important;
    }

    .l_-bottom-5 {
        bottom: -5px !important;
    }

    .l_-left-1 {
        left: -1px !important;
    }

    .l_-left-2 {
        left: -2px !important;
    }

    .l_-left-3 {
        left: -3px !important;
    }

    .l_-left-4 {
        left: -4px !important;
    }

    .l_-left-5 {
        left: -5px !important;
    }
}
