@import '../../node_modules/@thumbtack/thumbprint-tokens/dist/scss/_index';
@import '../../node_modules/@thumbtack/tp-ui-core-mixin/_index';

.dn {
    display: none !important;
}

.di {
    display: inline !important;
}

.db {
    display: block !important;
}

.dib {
    display: inline-block !important;
}

.dit {
    display: inline-table !important;
}

.dt {
    display: table !important;
}

.dtc {
    display: table-cell !important;
}

.dt-row {
    display: table-row !important;
}

.dt-row-group {
    display: table-row-group !important;
}

.dt-column {
    display: table-column !important;
}

.dt-column-group {
    display: table-column-group !important;
}

.dt-fixed {
    table-layout: fixed !important;
    width: 100% !important;
}

@include tp-respond-above($tp-breakpoint__small) {
    .s_dn {
        display: none !important;
    }

    .s_di {
        display: inline !important;
    }

    .s_db {
        display: block !important;
    }

    .s_dib {
        display: inline-block !important;
    }

    .s_dit {
        display: inline-table !important;
    }

    .s_dt {
        display: table !important;
    }

    .s_dtc {
        display: table-cell !important;
    }

    .s_dt-row {
        display: table-row !important;
    }

    .s_dt-row-group {
        display: table-row-group !important;
    }

    .s_dt-column {
        display: table-column !important;
    }

    .s_dt-column-group {
        display: table-column-group !important;
    }

    .s_dt-fixed {
        table-layout: fixed !important;
        width: 100% !important;
    }
}

@include tp-respond-above($tp-breakpoint__medium) {
    .m_dn {
        display: none !important;
    }

    .m_di {
        display: inline !important;
    }

    .m_db {
        display: block !important;
    }

    .m_dib {
        display: inline-block !important;
    }

    .m_dit {
        display: inline-table !important;
    }

    .m_dt {
        display: table !important;
    }

    .m_dtc {
        display: table-cell !important;
    }

    .m_dt-row {
        display: table-row !important;
    }

    .m_dt-row-group {
        display: table-row-group !important;
    }

    .m_dt-column {
        display: table-column !important;
    }

    .m_dt-column-group {
        display: table-column-group !important;
    }

    .m_dt-fixed {
        table-layout: fixed !important;
        width: 100% !important;
    }
}

@include tp-respond-above($tp-breakpoint__large) {
    .l_dn {
        display: none !important;
    }

    .l_di {
        display: inline !important;
    }

    .l_db {
        display: block !important;
    }

    .l_dib {
        display: inline-block !important;
    }

    .l_dit {
        display: inline-table !important;
    }

    .l_dt {
        display: table !important;
    }

    .l_dtc {
        display: table-cell !important;
    }

    .l_dt-row {
        display: table-row !important;
    }

    .l_dt-row-group {
        display: table-row-group !important;
    }

    .l_dt-column {
        display: table-column !important;
    }

    .l_dt-column-group {
        display: table-column-group !important;
    }

    .l_dt-fixed {
        table-layout: fixed !important;
        width: 100% !important;
    }
}
