@import '~@thumbtack/thumbprint-tokens/dist/scss/_index';
@import '~@thumbtack/thumbprint-scss/mixins';

.flex {
    display: flex !important;
}

.inline-flex {
    display: inline-flex !important;
}

.flex-auto {
    flex: 1 1 auto !important;
    min-width: 0 !important;
    min-height: 0 !important;
}

.flex-1 {
    flex: 1 1 0% !important;
    min-width: 0 !important;
    min-height: 0 !important;
}

.flex-2 {
    flex: 2 1 0% !important;
    min-width: 0 !important;
    min-height: 0 !important;
}

.flex-3 {
    flex: 3 1 0% !important;
    min-width: 0 !important;
    min-height: 0 !important;
}

.flex-none {
    flex: none !important;
}

.flex-column {
    flex-direction: column !important;
}

.flex-row {
    flex-direction: row !important;
}

.flex-wrap {
    flex-wrap: wrap !important;
}

.flex-nowrap {
    flex-wrap: nowrap !important;
}

.flex-wrap-reverse {
    flex-wrap: wrap-reverse !important;
}

.flex-column-reverse {
    flex-direction: column-reverse !important;
}

.flex-row-reverse {
    flex-direction: row-reverse !important;
}

.items-start {
    align-items: flex-start !important;
}

.items-end {
    align-items: flex-end !important;
}

.items-center {
    align-items: center !important;
}

.items-baseline {
    align-items: baseline !important;
}

.items-stretch {
    align-items: stretch !important;
}

.self-start {
    align-self: flex-start !important;
}

.self-end {
    align-self: flex-end !important;
}

.self-center {
    align-self: center !important;
}

.self-baseline {
    align-self: baseline !important;
}

.self-stretch {
    align-self: stretch !important;
}

.justify-start {
    justify-content: flex-start !important;
}

.justify-end {
    justify-content: flex-end !important;
}

.justify-center {
    justify-content: center !important;
}

.justify-between {
    justify-content: space-between !important;
}

.justify-around {
    justify-content: space-around !important;
}

.content-start {
    align-content: flex-start !important;
}

.content-end {
    align-content: flex-end !important;
}

.content-center {
    align-content: center !important;
}

.content-between {
    align-content: space-between !important;
}

.content-around {
    align-content: space-around !important;
}

.content-stretch {
    align-content: stretch !important;
}

.order-0 {
    order: 0 !important;
}

.order-1 {
    order: 1 !important;
}

.order-2 {
    order: 2 !important;
}

.order-3 {
    order: 3 !important;
}

.order-4 {
    order: 4 !important;
}

.order-5 {
    order: 5 !important;
}

.order-6 {
    order: 6 !important;
}

.order-7 {
    order: 7 !important;
}

.order-8 {
    order: 8 !important;
}

.order-last {
    order: 99999 !important;
}

.flex-grow-0 {
    flex-grow: 0 !important;
}

.flex-grow-1 {
    flex-grow: 1 !important;
}

.flex-shrink-0 {
    flex-shrink: 0 !important;
}

.flex-shrink-1 {
    flex-shrink: 1 !important;
}

@include tp-respond-above($tp-breakpoint__small) {
    .s_flex {
        display: flex !important;
    }

    .s_inline-flex {
        display: inline-flex !important;
    }

    .s_flex-auto {
        flex: 1 1 auto !important;
        min-width: 0 !important;
        min-height: 0 !important;
    }

    .s_flex-1 {
        flex: 1 1 0% !important;
        min-width: 0 !important;
        min-height: 0 !important;
    }

    .s_flex-2 {
        flex: 2 1 0% !important;
        min-width: 0 !important;
        min-height: 0 !important;
    }

    .s_flex-3 {
        flex: 3 1 0% !important;
        min-width: 0 !important;
        min-height: 0 !important;
    }

    .s_flex-none {
        flex: none !important;
    }

    .s_flex-column {
        flex-direction: column !important;
    }

    .s_flex-row {
        flex-direction: row !important;
    }

    .s_flex-wrap {
        flex-wrap: wrap !important;
    }

    .s_flex-nowrap {
        flex-wrap: nowrap !important;
    }

    .s_flex-wrap-reverse {
        flex-wrap: wrap-reverse !important;
    }

    .s_flex-column-reverse {
        flex-direction: column-reverse !important;
    }

    .s_flex-row-reverse {
        flex-direction: row-reverse !important;
    }

    .s_items-start {
        align-items: flex-start !important;
    }

    .s_items-end {
        align-items: flex-end !important;
    }

    .s_items-center {
        align-items: center !important;
    }

    .s_items-baseline {
        align-items: baseline !important;
    }

    .s_items-stretch {
        align-items: stretch !important;
    }

    .s_self-start {
        align-self: flex-start !important;
    }

    .s_self-end {
        align-self: flex-end !important;
    }

    .s_self-center {
        align-self: center !important;
    }

    .s_self-baseline {
        align-self: baseline !important;
    }

    .s_self-stretch {
        align-self: stretch !important;
    }

    .s_justify-start {
        justify-content: flex-start !important;
    }

    .s_justify-end {
        justify-content: flex-end !important;
    }

    .s_justify-center {
        justify-content: center !important;
    }

    .s_justify-between {
        justify-content: space-between !important;
    }

    .s_justify-around {
        justify-content: space-around !important;
    }

    .s_content-start {
        align-content: flex-start !important;
    }

    .s_content-end {
        align-content: flex-end !important;
    }

    .s_content-center {
        align-content: center !important;
    }

    .s_content-between {
        align-content: space-between !important;
    }

    .s_content-around {
        align-content: space-around !important;
    }

    .s_content-stretch {
        align-content: stretch !important;
    }

    .s_order-0 {
        order: 0 !important;
    }

    .s_order-1 {
        order: 1 !important;
    }

    .s_order-2 {
        order: 2 !important;
    }

    .s_order-3 {
        order: 3 !important;
    }

    .s_order-4 {
        order: 4 !important;
    }

    .s_order-5 {
        order: 5 !important;
    }

    .s_order-6 {
        order: 6 !important;
    }

    .s_order-7 {
        order: 7 !important;
    }

    .s_order-8 {
        order: 8 !important;
    }

    .s_order-last {
        order: 99999 !important;
    }

    .s_flex-grow-0 {
        flex-grow: 0 !important;
    }

    .s_flex-grow-1 {
        flex-grow: 1 !important;
    }

    .s_flex-shrink-0 {
        flex-shrink: 0 !important;
    }

    .s_flex-shrink-1 {
        flex-shrink: 1 !important;
    }
}

@include tp-respond-above($tp-breakpoint__medium) {
    .m_flex {
        display: flex !important;
    }

    .m_inline-flex {
        display: inline-flex !important;
    }

    .m_flex-auto {
        flex: 1 1 auto !important;
        min-width: 0 !important;
        min-height: 0 !important;
    }

    .m_flex-1 {
        flex: 1 1 0% !important;
        min-width: 0 !important;
        min-height: 0 !important;
    }

    .m_flex-2 {
        flex: 2 1 0% !important;
        min-width: 0 !important;
        min-height: 0 !important;
    }

    .m_flex-3 {
        flex: 3 1 0% !important;
        min-width: 0 !important;
        min-height: 0 !important;
    }

    .m_flex-none {
        flex: none !important;
    }

    .m_flex-column {
        flex-direction: column !important;
    }

    .m_flex-row {
        flex-direction: row !important;
    }

    .m_flex-wrap {
        flex-wrap: wrap !important;
    }

    .m_flex-nowrap {
        flex-wrap: nowrap !important;
    }

    .m_flex-wrap-reverse {
        flex-wrap: wrap-reverse !important;
    }

    .m_flex-column-reverse {
        flex-direction: column-reverse !important;
    }

    .m_flex-row-reverse {
        flex-direction: row-reverse !important;
    }

    .m_items-start {
        align-items: flex-start !important;
    }

    .m_items-end {
        align-items: flex-end !important;
    }

    .m_items-center {
        align-items: center !important;
    }

    .m_items-baseline {
        align-items: baseline !important;
    }

    .m_items-stretch {
        align-items: stretch !important;
    }

    .m_self-start {
        align-self: flex-start !important;
    }

    .m_self-end {
        align-self: flex-end !important;
    }

    .m_self-center {
        align-self: center !important;
    }

    .m_self-baseline {
        align-self: baseline !important;
    }

    .m_self-stretch {
        align-self: stretch !important;
    }

    .m_justify-start {
        justify-content: flex-start !important;
    }

    .m_justify-end {
        justify-content: flex-end !important;
    }

    .m_justify-center {
        justify-content: center !important;
    }

    .m_justify-between {
        justify-content: space-between !important;
    }

    .m_justify-around {
        justify-content: space-around !important;
    }

    .m_content-start {
        align-content: flex-start !important;
    }

    .m_content-end {
        align-content: flex-end !important;
    }

    .m_content-center {
        align-content: center !important;
    }

    .m_content-between {
        align-content: space-between !important;
    }

    .m_content-around {
        align-content: space-around !important;
    }

    .m_content-stretch {
        align-content: stretch !important;
    }

    .m_order-0 {
        order: 0 !important;
    }

    .m_order-1 {
        order: 1 !important;
    }

    .m_order-2 {
        order: 2 !important;
    }

    .m_order-3 {
        order: 3 !important;
    }

    .m_order-4 {
        order: 4 !important;
    }

    .m_order-5 {
        order: 5 !important;
    }

    .m_order-6 {
        order: 6 !important;
    }

    .m_order-7 {
        order: 7 !important;
    }

    .m_order-8 {
        order: 8 !important;
    }

    .m_order-last {
        order: 99999 !important;
    }

    .m_flex-grow-0 {
        flex-grow: 0 !important;
    }

    .m_flex-grow-1 {
        flex-grow: 1 !important;
    }

    .m_flex-shrink-0 {
        flex-shrink: 0 !important;
    }

    .m_flex-shrink-1 {
        flex-shrink: 1 !important;
    }
}

@include tp-respond-above($tp-breakpoint__large) {
    .l_flex {
        display: flex !important;
    }

    .l_inline-flex {
        display: inline-flex !important;
    }

    .l_flex-auto {
        flex: 1 1 auto !important;
        min-width: 0 !important;
        min-height: 0 !important;
    }

    .l_flex-1 {
        flex: 1 1 0% !important;
        min-width: 0 !important;
        min-height: 0 !important;
    }

    .l_flex-2 {
        flex: 2 1 0% !important;
        min-width: 0 !important;
        min-height: 0 !important;
    }

    .l_flex-3 {
        flex: 3 1 0% !important;
        min-width: 0 !important;
        min-height: 0 !important;
    }

    .l_flex-none {
        flex: none !important;
    }

    .l_flex-column {
        flex-direction: column !important;
    }

    .l_flex-row {
        flex-direction: row !important;
    }

    .l_flex-wrap {
        flex-wrap: wrap !important;
    }

    .l_flex-nowrap {
        flex-wrap: nowrap !important;
    }

    .l_flex-wrap-reverse {
        flex-wrap: wrap-reverse !important;
    }

    .l_flex-column-reverse {
        flex-direction: column-reverse !important;
    }

    .l_flex-row-reverse {
        flex-direction: row-reverse !important;
    }

    .l_items-start {
        align-items: flex-start !important;
    }

    .l_items-end {
        align-items: flex-end !important;
    }

    .l_items-center {
        align-items: center !important;
    }

    .l_items-baseline {
        align-items: baseline !important;
    }

    .l_items-stretch {
        align-items: stretch !important;
    }

    .l_self-start {
        align-self: flex-start !important;
    }

    .l_self-end {
        align-self: flex-end !important;
    }

    .l_self-center {
        align-self: center !important;
    }

    .l_self-baseline {
        align-self: baseline !important;
    }

    .l_self-stretch {
        align-self: stretch !important;
    }

    .l_justify-start {
        justify-content: flex-start !important;
    }

    .l_justify-end {
        justify-content: flex-end !important;
    }

    .l_justify-center {
        justify-content: center !important;
    }

    .l_justify-between {
        justify-content: space-between !important;
    }

    .l_justify-around {
        justify-content: space-around !important;
    }

    .l_content-start {
        align-content: flex-start !important;
    }

    .l_content-end {
        align-content: flex-end !important;
    }

    .l_content-center {
        align-content: center !important;
    }

    .l_content-between {
        align-content: space-between !important;
    }

    .l_content-around {
        align-content: space-around !important;
    }

    .l_content-stretch {
        align-content: stretch !important;
    }

    .l_order-0 {
        order: 0 !important;
    }

    .l_order-1 {
        order: 1 !important;
    }

    .l_order-2 {
        order: 2 !important;
    }

    .l_order-3 {
        order: 3 !important;
    }

    .l_order-4 {
        order: 4 !important;
    }

    .l_order-5 {
        order: 5 !important;
    }

    .l_order-6 {
        order: 6 !important;
    }

    .l_order-7 {
        order: 7 !important;
    }

    .l_order-8 {
        order: 8 !important;
    }

    .l_order-last {
        order: 99999 !important;
    }

    .l_flex-grow-0 {
        flex-grow: 0 !important;
    }

    .l_flex-grow-1 {
        flex-grow: 1 !important;
    }

    .l_flex-shrink-0 {
        flex-shrink: 0 !important;
    }

    .l_flex-shrink-1 {
        flex-shrink: 1 !important;
    }
}
