@import '~@thumbtack/thumbprint-tokens/dist/scss/_index';
@import '~@thumbtack/thumbprint-scss/mixins';

.col-gap0 {
    column-gap: 0 !important;
}

.col-gap1 {
    column-gap: $tp-space__1 !important;
}

.col-gap2 {
    column-gap: $tp-space__2 !important;
}

.col-gap3 {
    column-gap: $tp-space__3 !important;
}

.col-gap4 {
    column-gap: $tp-space__4 !important;
}

.col-gap5 {
    column-gap: $tp-space__5 !important;
}

.col-gap6 {
    column-gap: $tp-space__6 !important;
}

.col-gap7 {
    column-gap: $tp-space__7 !important;
}

.col-gap8 {
    column-gap: $tp-space__8 !important;
}

.row-gap0 {
    row-gap: 0 !important;
}

.row-gap1 {
    row-gap: $tp-space__1 !important;
}

.row-gap2 {
    row-gap: $tp-space__2 !important;
}

.row-gap3 {
    row-gap: $tp-space__3 !important;
}

.row-gap4 {
    row-gap: $tp-space__4 !important;
}

.row-gap5 {
    row-gap: $tp-space__5 !important;
}

.row-gap6 {
    row-gap: $tp-space__6 !important;
}

.row-gap7 {
    row-gap: $tp-space__7 !important;
}

.row-gap8 {
    row-gap: $tp-space__8 !important;
}

@include tp-respond-above($tp-breakpoint__small) {
    .s_col-gap0 {
        column-gap: 0 !important;
    }

    .s_col-gap1 {
        column-gap: $tp-space__1 !important;
    }

    .s_col-gap2 {
        column-gap: $tp-space__2 !important;
    }

    .s_col-gap3 {
        column-gap: $tp-space__3 !important;
    }

    .s_col-gap4 {
        column-gap: $tp-space__4 !important;
    }

    .s_col-gap5 {
        column-gap: $tp-space__5 !important;
    }

    .s_col-gap6 {
        column-gap: $tp-space__6 !important;
    }

    .s_col-gap7 {
        column-gap: $tp-space__7 !important;
    }

    .s_col-gap8 {
        column-gap: $tp-space__8 !important;
    }

    .s_row-gap0 {
        row-gap: 0 !important;
    }

    .s_row-gap1 {
        row-gap: $tp-space__1 !important;
    }

    .s_row-gap2 {
        row-gap: $tp-space__2 !important;
    }

    .s_row-gap3 {
        row-gap: $tp-space__3 !important;
    }

    .s_row-gap4 {
        row-gap: $tp-space__4 !important;
    }

    .s_row-gap5 {
        row-gap: $tp-space__5 !important;
    }

    .s_row-gap6 {
        row-gap: $tp-space__6 !important;
    }

    .s_row-gap7 {
        row-gap: $tp-space__7 !important;
    }

    .s_row-gap8 {
        row-gap: $tp-space__8 !important;
    }
}

@include tp-respond-above($tp-breakpoint__medium) {
    .m_col-gap0 {
        column-gap: 0 !important;
    }

    .m_col-gap1 {
        column-gap: $tp-space__1 !important;
    }

    .m_col-gap2 {
        column-gap: $tp-space__2 !important;
    }

    .m_col-gap3 {
        column-gap: $tp-space__3 !important;
    }

    .m_col-gap4 {
        column-gap: $tp-space__4 !important;
    }

    .m_col-gap5 {
        column-gap: $tp-space__5 !important;
    }

    .m_col-gap6 {
        column-gap: $tp-space__6 !important;
    }

    .m_col-gap7 {
        column-gap: $tp-space__7 !important;
    }

    .m_col-gap8 {
        column-gap: $tp-space__8 !important;
    }

    .m_row-gap0 {
        row-gap: 0 !important;
    }

    .m_row-gap1 {
        row-gap: $tp-space__1 !important;
    }

    .m_row-gap2 {
        row-gap: $tp-space__2 !important;
    }

    .m_row-gap3 {
        row-gap: $tp-space__3 !important;
    }

    .m_row-gap4 {
        row-gap: $tp-space__4 !important;
    }

    .m_row-gap5 {
        row-gap: $tp-space__5 !important;
    }

    .m_row-gap6 {
        row-gap: $tp-space__6 !important;
    }

    .m_row-gap7 {
        row-gap: $tp-space__7 !important;
    }

    .m_row-gap8 {
        row-gap: $tp-space__8 !important;
    }
}

@include tp-respond-above($tp-breakpoint__large) {
    .l_col-gap0 {
        column-gap: 0 !important;
    }

    .l_col-gap1 {
        column-gap: $tp-space__1 !important;
    }

    .l_col-gap2 {
        column-gap: $tp-space__2 !important;
    }

    .l_col-gap3 {
        column-gap: $tp-space__3 !important;
    }

    .l_col-gap4 {
        column-gap: $tp-space__4 !important;
    }

    .l_col-gap5 {
        column-gap: $tp-space__5 !important;
    }

    .l_col-gap6 {
        column-gap: $tp-space__6 !important;
    }

    .l_col-gap7 {
        column-gap: $tp-space__7 !important;
    }

    .l_col-gap8 {
        column-gap: $tp-space__8 !important;
    }

    .l_row-gap0 {
        row-gap: 0 !important;
    }

    .l_row-gap1 {
        row-gap: $tp-space__1 !important;
    }

    .l_row-gap2 {
        row-gap: $tp-space__2 !important;
    }

    .l_row-gap3 {
        row-gap: $tp-space__3 !important;
    }

    .l_row-gap4 {
        row-gap: $tp-space__4 !important;
    }

    .l_row-gap5 {
        row-gap: $tp-space__5 !important;
    }

    .l_row-gap6 {
        row-gap: $tp-space__6 !important;
    }

    .l_row-gap7 {
        row-gap: $tp-space__7 !important;
    }

    .l_row-gap8 {
        row-gap: $tp-space__8 !important;
    }
}
