@import '../../node_modules/@thumbtack/thumbprint-tokens/dist/scss/_index';
@import '../../node_modules/@thumbtack/tp-ui-core-mixin/_index';

.grid {
    margin-left: -$tp-space__3 !important;
    display: flex !important;
    flex-wrap: wrap !important;
}

.grid > * {
    padding-left: $tp-space__3 !important;
    width: 100% !important;
}

.grid-wide {
    margin-left: -$tp-space__5 !important;
}

.grid-wide > * {
    padding-left: $tp-space__5 !important;
}

.grid-flush {
    margin-left: 0 !important;
}

.grid-flush > * {
    padding-left: 0 !important;
}

.col-1 {
    width: 8.333333% !important;
}

.col-2 {
    width: 16.666666% !important;
}

.col-3 {
    width: 25% !important;
}

.col-4 {
    width: 33.333333% !important;
}

.col-5 {
    width: 41.666666% !important;
}

.col-6 {
    width: 50% !important;
}

.col-7 {
    width: 58.333333% !important;
}

.col-8 {
    width: 66.666666% !important;
}

.col-9 {
    width: 75% !important;
}

.col-10 {
    width: 83.333333% !important;
}

.col-11 {
    width: 91.666666% !important;
}

.col-12 {
    width: 100% !important;
}

@include tp-respond-above($tp-breakpoint__small) {
    .s_grid {
        margin-left: -$tp-space__3 !important;
        display: flex !important;
        flex-wrap: wrap !important;
    }

    .s_grid > * {
        padding-left: $tp-space__3 !important;
        width: 100% !important;
    }

    .s_grid-wide {
        margin-left: -$tp-space__5 !important;
    }

    .s_grid-wide > * {
        padding-left: $tp-space__5 !important;
    }

    .s_grid-flush {
        margin-left: 0 !important;
    }

    .s_grid-flush > * {
        padding-left: 0 !important;
    }

    .s_col-1 {
        width: 8.333333% !important;
    }

    .s_col-2 {
        width: 16.666666% !important;
    }

    .s_col-3 {
        width: 25% !important;
    }

    .s_col-4 {
        width: 33.333333% !important;
    }

    .s_col-5 {
        width: 41.666666% !important;
    }

    .s_col-6 {
        width: 50% !important;
    }

    .s_col-7 {
        width: 58.333333% !important;
    }

    .s_col-8 {
        width: 66.666666% !important;
    }

    .s_col-9 {
        width: 75% !important;
    }

    .s_col-10 {
        width: 83.333333% !important;
    }

    .s_col-11 {
        width: 91.666666% !important;
    }

    .s_col-12 {
        width: 100% !important;
    }
}

@include tp-respond-above($tp-breakpoint__medium) {
    .m_grid {
        margin-left: -$tp-space__3 !important;
        display: flex !important;
        flex-wrap: wrap !important;
    }

    .m_grid > * {
        padding-left: $tp-space__3 !important;
        width: 100% !important;
    }

    .m_grid-wide {
        margin-left: -$tp-space__5 !important;
    }

    .m_grid-wide > * {
        padding-left: $tp-space__5 !important;
    }

    .m_grid-flush {
        margin-left: 0 !important;
    }

    .m_grid-flush > * {
        padding-left: 0 !important;
    }

    .m_col-1 {
        width: 8.333333% !important;
    }

    .m_col-2 {
        width: 16.666666% !important;
    }

    .m_col-3 {
        width: 25% !important;
    }

    .m_col-4 {
        width: 33.333333% !important;
    }

    .m_col-5 {
        width: 41.666666% !important;
    }

    .m_col-6 {
        width: 50% !important;
    }

    .m_col-7 {
        width: 58.333333% !important;
    }

    .m_col-8 {
        width: 66.666666% !important;
    }

    .m_col-9 {
        width: 75% !important;
    }

    .m_col-10 {
        width: 83.333333% !important;
    }

    .m_col-11 {
        width: 91.666666% !important;
    }

    .m_col-12 {
        width: 100% !important;
    }
}

@include tp-respond-above($tp-breakpoint__large) {
    .l_grid {
        margin-left: -$tp-space__3 !important;
        display: flex !important;
        flex-wrap: wrap !important;
    }

    .l_grid > * {
        padding-left: $tp-space__3 !important;
        width: 100% !important;
    }

    .l_grid-wide {
        margin-left: -$tp-space__5 !important;
    }

    .l_grid-wide > * {
        padding-left: $tp-space__5 !important;
    }

    .l_grid-flush {
        margin-left: 0 !important;
    }

    .l_grid-flush > * {
        padding-left: 0 !important;
    }

    .l_col-1 {
        width: 8.333333% !important;
    }

    .l_col-2 {
        width: 16.666666% !important;
    }

    .l_col-3 {
        width: 25% !important;
    }

    .l_col-4 {
        width: 33.333333% !important;
    }

    .l_col-5 {
        width: 41.666666% !important;
    }

    .l_col-6 {
        width: 50% !important;
    }

    .l_col-7 {
        width: 58.333333% !important;
    }

    .l_col-8 {
        width: 66.666666% !important;
    }

    .l_col-9 {
        width: 75% !important;
    }

    .l_col-10 {
        width: 83.333333% !important;
    }

    .l_col-11 {
        width: 91.666666% !important;
    }

    .l_col-12 {
        width: 100% !important;
    }
}
