@import '~@thumbtack/thumbprint-tokens/dist/scss/_index';
@import '~@thumbtack/thumbprint-scss/mixins';

.h0 {
    height: 0 !important;
}

.h1 {
    height: $tp-space__3 !important;
}

.h2 {
    height: $tp-space__4 !important;
}

.h3 {
    height: $tp-space__5 !important;
}

.h4 {
    height: $tp-space__6 !important;
}

.h5 {
    height: $tp-space__7 !important;
}

.h6 {
    height: $tp-space__8 !important;
}

.h-0 {
    height: 0 !important;
}

.h-25 {
    height: 25% !important;
}

.h-50 {
    height: 50% !important;
}

.h-75 {
    height: 75% !important;
}

.h-100 {
    height: 100% !important;
}

.min-h-100 {
    min-height: 100% !important;
}

.vh-25 {
    height: 25vh !important;
}

.vh-50 {
    height: 50vh !important;
}

.vh-75 {
    height: 75vh !important;
}

.vh-100 {
    height: 100vh !important;
}

.min-vh-100 {
    min-height: 100vh !important;
}

.h-auto {
    height: auto !important;
}

.h-inherit {
    height: inherit !important;
}

@include tp-respond-above($tp-breakpoint__small) {
    .s_h0 {
        height: 0 !important;
    }

    .s_h1 {
        height: $tp-space__3 !important;
    }

    .s_h2 {
        height: $tp-space__4 !important;
    }

    .s_h3 {
        height: $tp-space__5 !important;
    }

    .s_h4 {
        height: $tp-space__6 !important;
    }

    .s_h5 {
        height: $tp-space__7 !important;
    }

    .s_h6 {
        height: $tp-space__8 !important;
    }

    .s_h-0 {
        height: 0 !important;
    }

    .s_h-25 {
        height: 25% !important;
    }

    .s_h-50 {
        height: 50% !important;
    }

    .s_h-75 {
        height: 75% !important;
    }

    .s_h-100 {
        height: 100% !important;
    }

    .s_min-h-100 {
        min-height: 100% !important;
    }

    .s_vh-25 {
        height: 25vh !important;
    }

    .s_vh-50 {
        height: 50vh !important;
    }

    .s_vh-75 {
        height: 75vh !important;
    }

    .s_vh-100 {
        height: 100vh !important;
    }

    .s_min-vh-100 {
        min-height: 100vh !important;
    }

    .s_h-auto {
        height: auto !important;
    }

    .s_h-inherit {
        height: inherit !important;
    }
}

@include tp-respond-above($tp-breakpoint__medium) {
    .m_h0 {
        height: 0 !important;
    }

    .m_h1 {
        height: $tp-space__3 !important;
    }

    .m_h2 {
        height: $tp-space__4 !important;
    }

    .m_h3 {
        height: $tp-space__5 !important;
    }

    .m_h4 {
        height: $tp-space__6 !important;
    }

    .m_h5 {
        height: $tp-space__7 !important;
    }

    .m_h6 {
        height: $tp-space__8 !important;
    }

    .m_h-0 {
        height: 0 !important;
    }

    .m_h-25 {
        height: 25% !important;
    }

    .m_h-50 {
        height: 50% !important;
    }

    .m_h-75 {
        height: 75% !important;
    }

    .m_h-100 {
        height: 100% !important;
    }

    .m_min-h-100 {
        min-height: 100% !important;
    }

    .m_vh-25 {
        height: 25vh !important;
    }

    .m_vh-50 {
        height: 50vh !important;
    }

    .m_vh-75 {
        height: 75vh !important;
    }

    .m_vh-100 {
        height: 100vh !important;
    }

    .m_min-vh-100 {
        min-height: 100vh !important;
    }

    .m_h-auto {
        height: auto !important;
    }

    .m_h-inherit {
        height: inherit !important;
    }
}

@include tp-respond-above($tp-breakpoint__large) {
    .l_h0 {
        height: 0 !important;
    }

    .l_h1 {
        height: $tp-space__3 !important;
    }

    .l_h2 {
        height: $tp-space__4 !important;
    }

    .l_h3 {
        height: $tp-space__5 !important;
    }

    .l_h4 {
        height: $tp-space__6 !important;
    }

    .l_h5 {
        height: $tp-space__7 !important;
    }

    .l_h6 {
        height: $tp-space__8 !important;
    }

    .l_h-0 {
        height: 0 !important;
    }

    .l_h-25 {
        height: 25% !important;
    }

    .l_h-50 {
        height: 50% !important;
    }

    .l_h-75 {
        height: 75% !important;
    }

    .l_h-100 {
        height: 100% !important;
    }

    .l_min-h-100 {
        min-height: 100% !important;
    }

    .l_vh-25 {
        height: 25vh !important;
    }

    .l_vh-50 {
        height: 50vh !important;
    }

    .l_vh-75 {
        height: 75vh !important;
    }

    .l_vh-100 {
        height: 100vh !important;
    }

    .l_min-vh-100 {
        min-height: 100vh !important;
    }

    .l_h-auto {
        height: auto !important;
    }

    .l_h-inherit {
        height: inherit !important;
    }
}
