@import '../../node_modules/@thumbtack/thumbprint-tokens/dist/scss/_index';
@import '../../node_modules/@thumbtack/tp-ui-core-mixin/_index';

.mw-100 {
    max-width: 100% !important;
}

.mw1 {
    max-width: $tp-space__3 !important;
}

.mw2 {
    max-width: $tp-space__4 !important;
}

.mw3 {
    max-width: $tp-space__5 !important;
}

.mw4 {
    max-width: $tp-space__6 !important;
}

.mw5 {
    max-width: $tp-space__7 !important;
}

.mw6 {
    max-width: $tp-space__8 !important;
}

.mw7 {
    max-width: 512px !important;
}

.mw8 {
    max-width: 736px !important;
}

.mw9 {
    max-width: $tp-wrap__max-width !important;
}

.mw-none {
    max-width: none !important;
}

@include tp-respond-above($tp-breakpoint__small) {
    .s_mw-100 {
        max-width: 100% !important;
    }

    .s_mw1 {
        max-width: $tp-space__3 !important;
    }

    .s_mw2 {
        max-width: $tp-space__4 !important;
    }

    .s_mw3 {
        max-width: $tp-space__5 !important;
    }

    .s_mw4 {
        max-width: $tp-space__6 !important;
    }

    .s_mw5 {
        max-width: $tp-space__7 !important;
    }

    .s_mw6 {
        max-width: $tp-space__8 !important;
    }

    .s_mw7 {
        max-width: 512px !important;
    }

    .s_mw8 {
        max-width: 736px !important;
    }

    .s_mw9 {
        max-width: $tp-wrap__max-width !important;
    }

    .s_mw-none {
        max-width: none !important;
    }
}

@include tp-respond-above($tp-breakpoint__medium) {
    .m_mw-100 {
        max-width: 100% !important;
    }

    .m_mw1 {
        max-width: $tp-space__3 !important;
    }

    .m_mw2 {
        max-width: $tp-space__4 !important;
    }

    .m_mw3 {
        max-width: $tp-space__5 !important;
    }

    .m_mw4 {
        max-width: $tp-space__6 !important;
    }

    .m_mw5 {
        max-width: $tp-space__7 !important;
    }

    .m_mw6 {
        max-width: $tp-space__8 !important;
    }

    .m_mw7 {
        max-width: 512px !important;
    }

    .m_mw8 {
        max-width: 736px !important;
    }

    .m_mw9 {
        max-width: $tp-wrap__max-width !important;
    }

    .m_mw-none {
        max-width: none !important;
    }
}

@include tp-respond-above($tp-breakpoint__large) {
    .l_mw-100 {
        max-width: 100% !important;
    }

    .l_mw1 {
        max-width: $tp-space__3 !important;
    }

    .l_mw2 {
        max-width: $tp-space__4 !important;
    }

    .l_mw3 {
        max-width: $tp-space__5 !important;
    }

    .l_mw4 {
        max-width: $tp-space__6 !important;
    }

    .l_mw5 {
        max-width: $tp-space__7 !important;
    }

    .l_mw6 {
        max-width: $tp-space__8 !important;
    }

    .l_mw7 {
        max-width: 512px !important;
    }

    .l_mw8 {
        max-width: 736px !important;
    }

    .l_mw9 {
        max-width: $tp-wrap__max-width !important;
    }

    .l_mw-none {
        max-width: none !important;
    }
}
