@import '../../node_modules/@thumbtack/thumbprint-tokens/dist/scss/_index';
@import '../../node_modules/@thumbtack/tp-ui-core-mixin/_index';

.overflow-visible {
    overflow: visible !important;
}

.overflow-hidden {
    overflow: hidden !important;
}

.overflow-scroll {
    overflow: scroll !important;
}

.overflow-auto {
    overflow: auto !important;
}

.overflow-x-visible {
    overflow-x: visible !important;
}

.overflow-x-hidden {
    overflow-x: hidden !important;
}

.overflow-x-scroll {
    overflow-x: scroll !important;
}

.overflow-x-auto {
    overflow-x: auto !important;
}

.overflow-y-visible {
    overflow-y: visible !important;
}

.overflow-y-hidden {
    overflow-y: hidden !important;
}

.overflow-y-scroll {
    overflow-y: scroll !important;
}

.overflow-y-auto {
    overflow-y: auto !important;
}

@include tp-respond-above($tp-breakpoint__small) {
    .s_overflow-visible {
        overflow: visible !important;
    }

    .s_overflow-hidden {
        overflow: hidden !important;
    }

    .s_overflow-scroll {
        overflow: scroll !important;
    }

    .s_overflow-auto {
        overflow: auto !important;
    }

    .s_overflow-x-visible {
        overflow-x: visible !important;
    }

    .s_overflow-x-hidden {
        overflow-x: hidden !important;
    }

    .s_overflow-x-scroll {
        overflow-x: scroll !important;
    }

    .s_overflow-x-auto {
        overflow-x: auto !important;
    }

    .s_overflow-y-visible {
        overflow-y: visible !important;
    }

    .s_overflow-y-hidden {
        overflow-y: hidden !important;
    }

    .s_overflow-y-scroll {
        overflow-y: scroll !important;
    }

    .s_overflow-y-auto {
        overflow-y: auto !important;
    }
}

@include tp-respond-above($tp-breakpoint__medium) {
    .m_overflow-visible {
        overflow: visible !important;
    }

    .m_overflow-hidden {
        overflow: hidden !important;
    }

    .m_overflow-scroll {
        overflow: scroll !important;
    }

    .m_overflow-auto {
        overflow: auto !important;
    }

    .m_overflow-x-visible {
        overflow-x: visible !important;
    }

    .m_overflow-x-hidden {
        overflow-x: hidden !important;
    }

    .m_overflow-x-scroll {
        overflow-x: scroll !important;
    }

    .m_overflow-x-auto {
        overflow-x: auto !important;
    }

    .m_overflow-y-visible {
        overflow-y: visible !important;
    }

    .m_overflow-y-hidden {
        overflow-y: hidden !important;
    }

    .m_overflow-y-scroll {
        overflow-y: scroll !important;
    }

    .m_overflow-y-auto {
        overflow-y: auto !important;
    }
}

@include tp-respond-above($tp-breakpoint__large) {
    .l_overflow-visible {
        overflow: visible !important;
    }

    .l_overflow-hidden {
        overflow: hidden !important;
    }

    .l_overflow-scroll {
        overflow: scroll !important;
    }

    .l_overflow-auto {
        overflow: auto !important;
    }

    .l_overflow-x-visible {
        overflow-x: visible !important;
    }

    .l_overflow-x-hidden {
        overflow-x: hidden !important;
    }

    .l_overflow-x-scroll {
        overflow-x: scroll !important;
    }

    .l_overflow-x-auto {
        overflow-x: auto !important;
    }

    .l_overflow-y-visible {
        overflow-y: visible !important;
    }

    .l_overflow-y-hidden {
        overflow-y: hidden !important;
    }

    .l_overflow-y-scroll {
        overflow-y: scroll !important;
    }

    .l_overflow-y-auto {
        overflow-y: auto !important;
    }
}
