@import '../../node_modules/@thumbtack/thumbprint-tokens/dist/scss/_index';
@import '../../node_modules/@thumbtack/tp-ui-core-mixin/_index';

.pa0 {
    padding: 0 !important;
}

.pa1 {
    padding: $tp-space__1 !important;
}

.pa2 {
    padding: $tp-space__2 !important;
}

.pa3 {
    padding: $tp-space__3 !important;
}

.pa4 {
    padding: $tp-space__4 !important;
}

.pa5 {
    padding: $tp-space__5 !important;
}

.pa6 {
    padding: $tp-space__6 !important;
}

.pa7 {
    padding: $tp-space__7 !important;
}

.pa8 {
    padding: $tp-space__8 !important;
}

.pl0 {
    padding-left: 0 !important;
}

.pl1 {
    padding-left: $tp-space__1 !important;
}

.pl2 {
    padding-left: $tp-space__2 !important;
}

.pl3 {
    padding-left: $tp-space__3 !important;
}

.pl4 {
    padding-left: $tp-space__4 !important;
}

.pl5 {
    padding-left: $tp-space__5 !important;
}

.pl6 {
    padding-left: $tp-space__6 !important;
}

.pl7 {
    padding-left: $tp-space__7 !important;
}

.pl8 {
    padding-left: $tp-space__8 !important;
}

.pr0 {
    padding-right: 0 !important;
}

.pr1 {
    padding-right: $tp-space__1 !important;
}

.pr2 {
    padding-right: $tp-space__2 !important;
}

.pr3 {
    padding-right: $tp-space__3 !important;
}

.pr4 {
    padding-right: $tp-space__4 !important;
}

.pr5 {
    padding-right: $tp-space__5 !important;
}

.pr6 {
    padding-right: $tp-space__6 !important;
}

.pr7 {
    padding-right: $tp-space__7 !important;
}

.pr8 {
    padding-right: $tp-space__8 !important;
}

.pb0 {
    padding-bottom: 0 !important;
}

.pb1 {
    padding-bottom: $tp-space__1 !important;
}

.pb2 {
    padding-bottom: $tp-space__2 !important;
}

.pb3 {
    padding-bottom: $tp-space__3 !important;
}

.pb4 {
    padding-bottom: $tp-space__4 !important;
}

.pb5 {
    padding-bottom: $tp-space__5 !important;
}

.pb6 {
    padding-bottom: $tp-space__6 !important;
}

.pb7 {
    padding-bottom: $tp-space__7 !important;
}

.pb8 {
    padding-bottom: $tp-space__8 !important;
}

.pt0 {
    padding-top: 0 !important;
}

.pt1 {
    padding-top: $tp-space__1 !important;
}

.pt2 {
    padding-top: $tp-space__2 !important;
}

.pt3 {
    padding-top: $tp-space__3 !important;
}

.pt4 {
    padding-top: $tp-space__4 !important;
}

.pt5 {
    padding-top: $tp-space__5 !important;
}

.pt6 {
    padding-top: $tp-space__6 !important;
}

.pt7 {
    padding-top: $tp-space__7 !important;
}

.pt8 {
    padding-top: $tp-space__8 !important;
}

.pv0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.pv1 {
    padding-top: $tp-space__1 !important;
    padding-bottom: $tp-space__1 !important;
}

.pv2 {
    padding-top: $tp-space__2 !important;
    padding-bottom: $tp-space__2 !important;
}

.pv3 {
    padding-top: $tp-space__3 !important;
    padding-bottom: $tp-space__3 !important;
}

.pv4 {
    padding-top: $tp-space__4 !important;
    padding-bottom: $tp-space__4 !important;
}

.pv5 {
    padding-top: $tp-space__5 !important;
    padding-bottom: $tp-space__5 !important;
}

.pv6 {
    padding-top: $tp-space__6 !important;
    padding-bottom: $tp-space__6 !important;
}

.pv7 {
    padding-top: $tp-space__7 !important;
    padding-bottom: $tp-space__7 !important;
}

.pv8 {
    padding-top: $tp-space__8 !important;
    padding-bottom: $tp-space__8 !important;
}

.ph0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.ph1 {
    padding-left: $tp-space__1 !important;
    padding-right: $tp-space__1 !important;
}

.ph2 {
    padding-left: $tp-space__2 !important;
    padding-right: $tp-space__2 !important;
}

.ph3 {
    padding-left: $tp-space__3 !important;
    padding-right: $tp-space__3 !important;
}

.ph4 {
    padding-left: $tp-space__4 !important;
    padding-right: $tp-space__4 !important;
}

.ph5 {
    padding-left: $tp-space__5 !important;
    padding-right: $tp-space__5 !important;
}

.ph6 {
    padding-left: $tp-space__6 !important;
    padding-right: $tp-space__6 !important;
}

.ph7 {
    padding-left: $tp-space__7 !important;
    padding-right: $tp-space__7 !important;
}

.ph8 {
    padding-left: $tp-space__8 !important;
    padding-right: $tp-space__8 !important;
}

@include tp-respond-above($tp-breakpoint__small) {
    .s_pa0 {
        padding: 0 !important;
    }

    .s_pa1 {
        padding: $tp-space__1 !important;
    }

    .s_pa2 {
        padding: $tp-space__2 !important;
    }

    .s_pa3 {
        padding: $tp-space__3 !important;
    }

    .s_pa4 {
        padding: $tp-space__4 !important;
    }

    .s_pa5 {
        padding: $tp-space__5 !important;
    }

    .s_pa6 {
        padding: $tp-space__6 !important;
    }

    .s_pa7 {
        padding: $tp-space__7 !important;
    }

    .s_pa8 {
        padding: $tp-space__8 !important;
    }

    .s_pl0 {
        padding-left: 0 !important;
    }

    .s_pl1 {
        padding-left: $tp-space__1 !important;
    }

    .s_pl2 {
        padding-left: $tp-space__2 !important;
    }

    .s_pl3 {
        padding-left: $tp-space__3 !important;
    }

    .s_pl4 {
        padding-left: $tp-space__4 !important;
    }

    .s_pl5 {
        padding-left: $tp-space__5 !important;
    }

    .s_pl6 {
        padding-left: $tp-space__6 !important;
    }

    .s_pl7 {
        padding-left: $tp-space__7 !important;
    }

    .s_pl8 {
        padding-left: $tp-space__8 !important;
    }

    .s_pr0 {
        padding-right: 0 !important;
    }

    .s_pr1 {
        padding-right: $tp-space__1 !important;
    }

    .s_pr2 {
        padding-right: $tp-space__2 !important;
    }

    .s_pr3 {
        padding-right: $tp-space__3 !important;
    }

    .s_pr4 {
        padding-right: $tp-space__4 !important;
    }

    .s_pr5 {
        padding-right: $tp-space__5 !important;
    }

    .s_pr6 {
        padding-right: $tp-space__6 !important;
    }

    .s_pr7 {
        padding-right: $tp-space__7 !important;
    }

    .s_pr8 {
        padding-right: $tp-space__8 !important;
    }

    .s_pb0 {
        padding-bottom: 0 !important;
    }

    .s_pb1 {
        padding-bottom: $tp-space__1 !important;
    }

    .s_pb2 {
        padding-bottom: $tp-space__2 !important;
    }

    .s_pb3 {
        padding-bottom: $tp-space__3 !important;
    }

    .s_pb4 {
        padding-bottom: $tp-space__4 !important;
    }

    .s_pb5 {
        padding-bottom: $tp-space__5 !important;
    }

    .s_pb6 {
        padding-bottom: $tp-space__6 !important;
    }

    .s_pb7 {
        padding-bottom: $tp-space__7 !important;
    }

    .s_pb8 {
        padding-bottom: $tp-space__8 !important;
    }

    .s_pt0 {
        padding-top: 0 !important;
    }

    .s_pt1 {
        padding-top: $tp-space__1 !important;
    }

    .s_pt2 {
        padding-top: $tp-space__2 !important;
    }

    .s_pt3 {
        padding-top: $tp-space__3 !important;
    }

    .s_pt4 {
        padding-top: $tp-space__4 !important;
    }

    .s_pt5 {
        padding-top: $tp-space__5 !important;
    }

    .s_pt6 {
        padding-top: $tp-space__6 !important;
    }

    .s_pt7 {
        padding-top: $tp-space__7 !important;
    }

    .s_pt8 {
        padding-top: $tp-space__8 !important;
    }

    .s_pv0 {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .s_pv1 {
        padding-top: $tp-space__1 !important;
        padding-bottom: $tp-space__1 !important;
    }

    .s_pv2 {
        padding-top: $tp-space__2 !important;
        padding-bottom: $tp-space__2 !important;
    }

    .s_pv3 {
        padding-top: $tp-space__3 !important;
        padding-bottom: $tp-space__3 !important;
    }

    .s_pv4 {
        padding-top: $tp-space__4 !important;
        padding-bottom: $tp-space__4 !important;
    }

    .s_pv5 {
        padding-top: $tp-space__5 !important;
        padding-bottom: $tp-space__5 !important;
    }

    .s_pv6 {
        padding-top: $tp-space__6 !important;
        padding-bottom: $tp-space__6 !important;
    }

    .s_pv7 {
        padding-top: $tp-space__7 !important;
        padding-bottom: $tp-space__7 !important;
    }

    .s_pv8 {
        padding-top: $tp-space__8 !important;
        padding-bottom: $tp-space__8 !important;
    }

    .s_ph0 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .s_ph1 {
        padding-left: $tp-space__1 !important;
        padding-right: $tp-space__1 !important;
    }

    .s_ph2 {
        padding-left: $tp-space__2 !important;
        padding-right: $tp-space__2 !important;
    }

    .s_ph3 {
        padding-left: $tp-space__3 !important;
        padding-right: $tp-space__3 !important;
    }

    .s_ph4 {
        padding-left: $tp-space__4 !important;
        padding-right: $tp-space__4 !important;
    }

    .s_ph5 {
        padding-left: $tp-space__5 !important;
        padding-right: $tp-space__5 !important;
    }

    .s_ph6 {
        padding-left: $tp-space__6 !important;
        padding-right: $tp-space__6 !important;
    }

    .s_ph7 {
        padding-left: $tp-space__7 !important;
        padding-right: $tp-space__7 !important;
    }

    .s_ph8 {
        padding-left: $tp-space__8 !important;
        padding-right: $tp-space__8 !important;
    }
}

@include tp-respond-above($tp-breakpoint__medium) {
    .m_pa0 {
        padding: 0 !important;
    }

    .m_pa1 {
        padding: $tp-space__1 !important;
    }

    .m_pa2 {
        padding: $tp-space__2 !important;
    }

    .m_pa3 {
        padding: $tp-space__3 !important;
    }

    .m_pa4 {
        padding: $tp-space__4 !important;
    }

    .m_pa5 {
        padding: $tp-space__5 !important;
    }

    .m_pa6 {
        padding: $tp-space__6 !important;
    }

    .m_pa7 {
        padding: $tp-space__7 !important;
    }

    .m_pa8 {
        padding: $tp-space__8 !important;
    }

    .m_pl0 {
        padding-left: 0 !important;
    }

    .m_pl1 {
        padding-left: $tp-space__1 !important;
    }

    .m_pl2 {
        padding-left: $tp-space__2 !important;
    }

    .m_pl3 {
        padding-left: $tp-space__3 !important;
    }

    .m_pl4 {
        padding-left: $tp-space__4 !important;
    }

    .m_pl5 {
        padding-left: $tp-space__5 !important;
    }

    .m_pl6 {
        padding-left: $tp-space__6 !important;
    }

    .m_pl7 {
        padding-left: $tp-space__7 !important;
    }

    .m_pl8 {
        padding-left: $tp-space__8 !important;
    }

    .m_pr0 {
        padding-right: 0 !important;
    }

    .m_pr1 {
        padding-right: $tp-space__1 !important;
    }

    .m_pr2 {
        padding-right: $tp-space__2 !important;
    }

    .m_pr3 {
        padding-right: $tp-space__3 !important;
    }

    .m_pr4 {
        padding-right: $tp-space__4 !important;
    }

    .m_pr5 {
        padding-right: $tp-space__5 !important;
    }

    .m_pr6 {
        padding-right: $tp-space__6 !important;
    }

    .m_pr7 {
        padding-right: $tp-space__7 !important;
    }

    .m_pr8 {
        padding-right: $tp-space__8 !important;
    }

    .m_pb0 {
        padding-bottom: 0 !important;
    }

    .m_pb1 {
        padding-bottom: $tp-space__1 !important;
    }

    .m_pb2 {
        padding-bottom: $tp-space__2 !important;
    }

    .m_pb3 {
        padding-bottom: $tp-space__3 !important;
    }

    .m_pb4 {
        padding-bottom: $tp-space__4 !important;
    }

    .m_pb5 {
        padding-bottom: $tp-space__5 !important;
    }

    .m_pb6 {
        padding-bottom: $tp-space__6 !important;
    }

    .m_pb7 {
        padding-bottom: $tp-space__7 !important;
    }

    .m_pb8 {
        padding-bottom: $tp-space__8 !important;
    }

    .m_pt0 {
        padding-top: 0 !important;
    }

    .m_pt1 {
        padding-top: $tp-space__1 !important;
    }

    .m_pt2 {
        padding-top: $tp-space__2 !important;
    }

    .m_pt3 {
        padding-top: $tp-space__3 !important;
    }

    .m_pt4 {
        padding-top: $tp-space__4 !important;
    }

    .m_pt5 {
        padding-top: $tp-space__5 !important;
    }

    .m_pt6 {
        padding-top: $tp-space__6 !important;
    }

    .m_pt7 {
        padding-top: $tp-space__7 !important;
    }

    .m_pt8 {
        padding-top: $tp-space__8 !important;
    }

    .m_pv0 {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .m_pv1 {
        padding-top: $tp-space__1 !important;
        padding-bottom: $tp-space__1 !important;
    }

    .m_pv2 {
        padding-top: $tp-space__2 !important;
        padding-bottom: $tp-space__2 !important;
    }

    .m_pv3 {
        padding-top: $tp-space__3 !important;
        padding-bottom: $tp-space__3 !important;
    }

    .m_pv4 {
        padding-top: $tp-space__4 !important;
        padding-bottom: $tp-space__4 !important;
    }

    .m_pv5 {
        padding-top: $tp-space__5 !important;
        padding-bottom: $tp-space__5 !important;
    }

    .m_pv6 {
        padding-top: $tp-space__6 !important;
        padding-bottom: $tp-space__6 !important;
    }

    .m_pv7 {
        padding-top: $tp-space__7 !important;
        padding-bottom: $tp-space__7 !important;
    }

    .m_pv8 {
        padding-top: $tp-space__8 !important;
        padding-bottom: $tp-space__8 !important;
    }

    .m_ph0 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .m_ph1 {
        padding-left: $tp-space__1 !important;
        padding-right: $tp-space__1 !important;
    }

    .m_ph2 {
        padding-left: $tp-space__2 !important;
        padding-right: $tp-space__2 !important;
    }

    .m_ph3 {
        padding-left: $tp-space__3 !important;
        padding-right: $tp-space__3 !important;
    }

    .m_ph4 {
        padding-left: $tp-space__4 !important;
        padding-right: $tp-space__4 !important;
    }

    .m_ph5 {
        padding-left: $tp-space__5 !important;
        padding-right: $tp-space__5 !important;
    }

    .m_ph6 {
        padding-left: $tp-space__6 !important;
        padding-right: $tp-space__6 !important;
    }

    .m_ph7 {
        padding-left: $tp-space__7 !important;
        padding-right: $tp-space__7 !important;
    }

    .m_ph8 {
        padding-left: $tp-space__8 !important;
        padding-right: $tp-space__8 !important;
    }
}

@include tp-respond-above($tp-breakpoint__large) {
    .l_pa0 {
        padding: 0 !important;
    }

    .l_pa1 {
        padding: $tp-space__1 !important;
    }

    .l_pa2 {
        padding: $tp-space__2 !important;
    }

    .l_pa3 {
        padding: $tp-space__3 !important;
    }

    .l_pa4 {
        padding: $tp-space__4 !important;
    }

    .l_pa5 {
        padding: $tp-space__5 !important;
    }

    .l_pa6 {
        padding: $tp-space__6 !important;
    }

    .l_pa7 {
        padding: $tp-space__7 !important;
    }

    .l_pa8 {
        padding: $tp-space__8 !important;
    }

    .l_pl0 {
        padding-left: 0 !important;
    }

    .l_pl1 {
        padding-left: $tp-space__1 !important;
    }

    .l_pl2 {
        padding-left: $tp-space__2 !important;
    }

    .l_pl3 {
        padding-left: $tp-space__3 !important;
    }

    .l_pl4 {
        padding-left: $tp-space__4 !important;
    }

    .l_pl5 {
        padding-left: $tp-space__5 !important;
    }

    .l_pl6 {
        padding-left: $tp-space__6 !important;
    }

    .l_pl7 {
        padding-left: $tp-space__7 !important;
    }

    .l_pl8 {
        padding-left: $tp-space__8 !important;
    }

    .l_pr0 {
        padding-right: 0 !important;
    }

    .l_pr1 {
        padding-right: $tp-space__1 !important;
    }

    .l_pr2 {
        padding-right: $tp-space__2 !important;
    }

    .l_pr3 {
        padding-right: $tp-space__3 !important;
    }

    .l_pr4 {
        padding-right: $tp-space__4 !important;
    }

    .l_pr5 {
        padding-right: $tp-space__5 !important;
    }

    .l_pr6 {
        padding-right: $tp-space__6 !important;
    }

    .l_pr7 {
        padding-right: $tp-space__7 !important;
    }

    .l_pr8 {
        padding-right: $tp-space__8 !important;
    }

    .l_pb0 {
        padding-bottom: 0 !important;
    }

    .l_pb1 {
        padding-bottom: $tp-space__1 !important;
    }

    .l_pb2 {
        padding-bottom: $tp-space__2 !important;
    }

    .l_pb3 {
        padding-bottom: $tp-space__3 !important;
    }

    .l_pb4 {
        padding-bottom: $tp-space__4 !important;
    }

    .l_pb5 {
        padding-bottom: $tp-space__5 !important;
    }

    .l_pb6 {
        padding-bottom: $tp-space__6 !important;
    }

    .l_pb7 {
        padding-bottom: $tp-space__7 !important;
    }

    .l_pb8 {
        padding-bottom: $tp-space__8 !important;
    }

    .l_pt0 {
        padding-top: 0 !important;
    }

    .l_pt1 {
        padding-top: $tp-space__1 !important;
    }

    .l_pt2 {
        padding-top: $tp-space__2 !important;
    }

    .l_pt3 {
        padding-top: $tp-space__3 !important;
    }

    .l_pt4 {
        padding-top: $tp-space__4 !important;
    }

    .l_pt5 {
        padding-top: $tp-space__5 !important;
    }

    .l_pt6 {
        padding-top: $tp-space__6 !important;
    }

    .l_pt7 {
        padding-top: $tp-space__7 !important;
    }

    .l_pt8 {
        padding-top: $tp-space__8 !important;
    }

    .l_pv0 {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .l_pv1 {
        padding-top: $tp-space__1 !important;
        padding-bottom: $tp-space__1 !important;
    }

    .l_pv2 {
        padding-top: $tp-space__2 !important;
        padding-bottom: $tp-space__2 !important;
    }

    .l_pv3 {
        padding-top: $tp-space__3 !important;
        padding-bottom: $tp-space__3 !important;
    }

    .l_pv4 {
        padding-top: $tp-space__4 !important;
        padding-bottom: $tp-space__4 !important;
    }

    .l_pv5 {
        padding-top: $tp-space__5 !important;
        padding-bottom: $tp-space__5 !important;
    }

    .l_pv6 {
        padding-top: $tp-space__6 !important;
        padding-bottom: $tp-space__6 !important;
    }

    .l_pv7 {
        padding-top: $tp-space__7 !important;
        padding-bottom: $tp-space__7 !important;
    }

    .l_pv8 {
        padding-top: $tp-space__8 !important;
        padding-bottom: $tp-space__8 !important;
    }

    .l_ph0 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .l_ph1 {
        padding-left: $tp-space__1 !important;
        padding-right: $tp-space__1 !important;
    }

    .l_ph2 {
        padding-left: $tp-space__2 !important;
        padding-right: $tp-space__2 !important;
    }

    .l_ph3 {
        padding-left: $tp-space__3 !important;
        padding-right: $tp-space__3 !important;
    }

    .l_ph4 {
        padding-left: $tp-space__4 !important;
        padding-right: $tp-space__4 !important;
    }

    .l_ph5 {
        padding-left: $tp-space__5 !important;
        padding-right: $tp-space__5 !important;
    }

    .l_ph6 {
        padding-left: $tp-space__6 !important;
        padding-right: $tp-space__6 !important;
    }

    .l_ph7 {
        padding-left: $tp-space__7 !important;
        padding-right: $tp-space__7 !important;
    }

    .l_ph8 {
        padding-left: $tp-space__8 !important;
        padding-right: $tp-space__8 !important;
    }
}
