@import '../../node_modules/@thumbtack/thumbprint-tokens/dist/scss/_index';
@import '../../node_modules/@thumbtack/tp-ui-core-mixin/_index';

.static {
    position: static !important;
}

.relative {
    position: relative !important;
}

.absolute {
    position: absolute !important;
}

.fixed {
    position: fixed !important;
}

@include tp-respond-above($tp-breakpoint__small) {
    .s_static {
        position: static !important;
    }

    .s_relative {
        position: relative !important;
    }

    .s_absolute {
        position: absolute !important;
    }

    .s_fixed {
        position: fixed !important;
    }
}

@include tp-respond-above($tp-breakpoint__medium) {
    .m_static {
        position: static !important;
    }

    .m_relative {
        position: relative !important;
    }

    .m_absolute {
        position: absolute !important;
    }

    .m_fixed {
        position: fixed !important;
    }
}

@include tp-respond-above($tp-breakpoint__large) {
    .l_static {
        position: static !important;
    }

    .l_relative {
        position: relative !important;
    }

    .l_absolute {
        position: absolute !important;
    }

    .l_fixed {
        position: fixed !important;
    }
}
