@import '../../node_modules/@thumbtack/thumbprint-tokens/dist/scss/_index';
@import '../../node_modules/@thumbtack/tp-ui-core-mixin/_index';

.ttc {
    text-transform: capitalize !important;
}

.ttl {
    text-transform: lowercase !important;
}

.ttu {
    text-transform: uppercase !important;
}

.ttn {
    text-transform: none !important;
}

@include tp-respond-above($tp-breakpoint__small) {
    .s_ttc {
        text-transform: capitalize !important;
    }

    .s_ttl {
        text-transform: lowercase !important;
    }

    .s_ttu {
        text-transform: uppercase !important;
    }

    .s_ttn {
        text-transform: none !important;
    }
}

@include tp-respond-above($tp-breakpoint__medium) {
    .m_ttc {
        text-transform: capitalize !important;
    }

    .m_ttl {
        text-transform: lowercase !important;
    }

    .m_ttu {
        text-transform: uppercase !important;
    }

    .m_ttn {
        text-transform: none !important;
    }
}

@include tp-respond-above($tp-breakpoint__large) {
    .l_ttc {
        text-transform: capitalize !important;
    }

    .l_ttl {
        text-transform: lowercase !important;
    }

    .l_ttu {
        text-transform: uppercase !important;
    }

    .l_ttn {
        text-transform: none !important;
    }
}
