@import '../../node_modules/@thumbtack/thumbprint-tokens/dist/scss/_index';
@import '../../node_modules/@thumbtack/tp-ui-core-mixin/_index';

.tl {
    text-align: left !important;
}

.tr {
    text-align: right !important;
}

.tc {
    text-align: center !important;
}

.tj {
    text-align: justify !important;
}

@include tp-respond-above($tp-breakpoint__small) {
    .s_tl {
        text-align: left !important;
    }

    .s_tr {
        text-align: right !important;
    }

    .s_tc {
        text-align: center !important;
    }

    .s_tj {
        text-align: justify !important;
    }
}

@include tp-respond-above($tp-breakpoint__medium) {
    .m_tl {
        text-align: left !important;
    }

    .m_tr {
        text-align: right !important;
    }

    .m_tc {
        text-align: center !important;
    }

    .m_tj {
        text-align: justify !important;
    }
}

@include tp-respond-above($tp-breakpoint__large) {
    .l_tl {
        text-align: left !important;
    }

    .l_tr {
        text-align: right !important;
    }

    .l_tc {
        text-align: center !important;
    }

    .l_tj {
        text-align: justify !important;
    }
}
