@import '../../node_modules/@thumbtack/thumbprint-tokens/dist/scss/_index';
@import '../../node_modules/@thumbtack/tp-ui-core-mixin/_index';

.v-base {
    vertical-align: baseline !important;
}

.v-mid {
    vertical-align: middle !important;
}

.v-top {
    vertical-align: top !important;
}

.v-btm {
    vertical-align: bottom !important;
}

@include tp-respond-above($tp-breakpoint__small) {
    .s_v-base {
        vertical-align: baseline !important;
    }

    .s_v-mid {
        vertical-align: middle !important;
    }

    .s_v-top {
        vertical-align: top !important;
    }

    .s_v-btm {
        vertical-align: bottom !important;
    }
}

@include tp-respond-above($tp-breakpoint__medium) {
    .m_v-base {
        vertical-align: baseline !important;
    }

    .m_v-mid {
        vertical-align: middle !important;
    }

    .m_v-top {
        vertical-align: top !important;
    }

    .m_v-btm {
        vertical-align: bottom !important;
    }
}

@include tp-respond-above($tp-breakpoint__large) {
    .l_v-base {
        vertical-align: baseline !important;
    }

    .l_v-mid {
        vertical-align: middle !important;
    }

    .l_v-top {
        vertical-align: top !important;
    }

    .l_v-btm {
        vertical-align: bottom !important;
    }
}
