@import '../../node_modules/@thumbtack/thumbprint-tokens/dist/scss/_index';
@import '../../node_modules/@thumbtack/tp-ui-core-mixin/_index';

.w1 {
    width: $tp-space__3 !important;
}

.w2 {
    width: $tp-space__4 !important;
}

.w3 {
    width: $tp-space__5 !important;
}

.w4 {
    width: $tp-space__6 !important;
}

.w5 {
    width: $tp-space__7 !important;
}

.w6 {
    width: $tp-space__8 !important;
}

.w-10 {
    width: 10% !important;
}

.w-20 {
    width: 20% !important;
}

.w-25 {
    width: 25% !important;
}

.w-30 {
    width: 30% !important;
}

.w-33 {
    width: 33.333333% !important;
}

.w-40 {
    width: 40% !important;
}

.w-50 {
    width: 50% !important;
}

.w-60 {
    width: 60% !important;
}

.w-66 {
    width: 66.666666% !important;
}

.w-70 {
    width: 70% !important;
}

.w-75 {
    width: 75% !important;
}

.w-80 {
    width: 80% !important;
}

.w-90 {
    width: 90% !important;
}

.w-100 {
    width: 100% !important;
}

.w-auto {
    width: auto !important;
}

@include tp-respond-above($tp-breakpoint__small) {
    .s_w1 {
        width: $tp-space__3 !important;
    }

    .s_w2 {
        width: $tp-space__4 !important;
    }

    .s_w3 {
        width: $tp-space__5 !important;
    }

    .s_w4 {
        width: $tp-space__6 !important;
    }

    .s_w5 {
        width: $tp-space__7 !important;
    }

    .s_w6 {
        width: $tp-space__8 !important;
    }

    .s_w-10 {
        width: 10% !important;
    }

    .s_w-20 {
        width: 20% !important;
    }

    .s_w-25 {
        width: 25% !important;
    }

    .s_w-30 {
        width: 30% !important;
    }

    .s_w-33 {
        width: 33.333333% !important;
    }

    .s_w-40 {
        width: 40% !important;
    }

    .s_w-50 {
        width: 50% !important;
    }

    .s_w-60 {
        width: 60% !important;
    }

    .s_w-66 {
        width: 66.666666% !important;
    }

    .s_w-70 {
        width: 70% !important;
    }

    .s_w-75 {
        width: 75% !important;
    }

    .s_w-80 {
        width: 80% !important;
    }

    .s_w-90 {
        width: 90% !important;
    }

    .s_w-100 {
        width: 100% !important;
    }

    .s_w-auto {
        width: auto !important;
    }
}

@include tp-respond-above($tp-breakpoint__medium) {
    .m_w1 {
        width: $tp-space__3 !important;
    }

    .m_w2 {
        width: $tp-space__4 !important;
    }

    .m_w3 {
        width: $tp-space__5 !important;
    }

    .m_w4 {
        width: $tp-space__6 !important;
    }

    .m_w5 {
        width: $tp-space__7 !important;
    }

    .m_w6 {
        width: $tp-space__8 !important;
    }

    .m_w-10 {
        width: 10% !important;
    }

    .m_w-20 {
        width: 20% !important;
    }

    .m_w-25 {
        width: 25% !important;
    }

    .m_w-30 {
        width: 30% !important;
    }

    .m_w-33 {
        width: 33.333333% !important;
    }

    .m_w-40 {
        width: 40% !important;
    }

    .m_w-50 {
        width: 50% !important;
    }

    .m_w-60 {
        width: 60% !important;
    }

    .m_w-66 {
        width: 66.666666% !important;
    }

    .m_w-70 {
        width: 70% !important;
    }

    .m_w-75 {
        width: 75% !important;
    }

    .m_w-80 {
        width: 80% !important;
    }

    .m_w-90 {
        width: 90% !important;
    }

    .m_w-100 {
        width: 100% !important;
    }

    .m_w-auto {
        width: auto !important;
    }
}

@include tp-respond-above($tp-breakpoint__large) {
    .l_w1 {
        width: $tp-space__3 !important;
    }

    .l_w2 {
        width: $tp-space__4 !important;
    }

    .l_w3 {
        width: $tp-space__5 !important;
    }

    .l_w4 {
        width: $tp-space__6 !important;
    }

    .l_w5 {
        width: $tp-space__7 !important;
    }

    .l_w6 {
        width: $tp-space__8 !important;
    }

    .l_w-10 {
        width: 10% !important;
    }

    .l_w-20 {
        width: 20% !important;
    }

    .l_w-25 {
        width: 25% !important;
    }

    .l_w-30 {
        width: 30% !important;
    }

    .l_w-33 {
        width: 33.333333% !important;
    }

    .l_w-40 {
        width: 40% !important;
    }

    .l_w-50 {
        width: 50% !important;
    }

    .l_w-60 {
        width: 60% !important;
    }

    .l_w-66 {
        width: 66.666666% !important;
    }

    .l_w-70 {
        width: 70% !important;
    }

    .l_w-75 {
        width: 75% !important;
    }

    .l_w-80 {
        width: 80% !important;
    }

    .l_w-90 {
        width: 90% !important;
    }

    .l_w-100 {
        width: 100% !important;
    }

    .l_w-auto {
        width: auto !important;
    }
}
