@import '../../node_modules/@thumbtack/thumbprint-tokens/dist/scss/_index';
@import '../../node_modules/@thumbtack/tp-ui-core-mixin/_index';

.word-normal {
    word-break: normal !important;
}

.word-wrap {
    word-break: break-all !important;
}

.word-nowrap {
    word-break: keep-all !important;
}

@include tp-respond-above($tp-breakpoint__small) {
    .s_word-normal {
        word-break: normal !important;
    }

    .s_word-wrap {
        word-break: break-all !important;
    }

    .s_word-nowrap {
        word-break: keep-all !important;
    }
}

@include tp-respond-above($tp-breakpoint__medium) {
    .m_word-normal {
        word-break: normal !important;
    }

    .m_word-wrap {
        word-break: break-all !important;
    }

    .m_word-nowrap {
        word-break: keep-all !important;
    }
}

@include tp-respond-above($tp-breakpoint__large) {
    .l_word-normal {
        word-break: normal !important;
    }

    .l_word-wrap {
        word-break: break-all !important;
    }

    .l_word-nowrap {
        word-break: keep-all !important;
    }
}
