table.callout {
    margin-bottom: $tp-space__3;
    margin-bottom: $tp-space__3;
    width: 100%;
}

th.callout-inner {
    width: 100%;
    border: none;
    padding: $tp-space__4;

    &.type {
        &-primary {
            background: $tp-color__gray-200;
        }
    }

    &.type {
        &-secondary {
            background: $tp-color__blue-100;
        }
    }

    &.flush {
        &-all {
            padding: 0;
        }

        &-top {
            padding-top: 0;
        }

        &-left {
            padding-left: 0;
        }

        &-bottom {
            padding-bottom: 0;
        }

        &-right {
            padding-right: 0;
        }
    }
}

.callout-bkg-img {
    background-size: cover;
    background-repeat: no-repeat;

    th.callout-inner {
        background: none;
    }
}
