@import '~@thumbtack/thumbprint-tokens/dist/scss/_index';
@import '~@thumbtack/thumbprint-scss/mixins';

.root {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: $tp-wrap__max-width;
    padding-left: $tp-space__3;
    padding-right: $tp-space__3;

    @include tp-respond-above($tp-breakpoint__small) {
        padding-left: $tp-space__5;
        padding-right: $tp-space__5;
    }

    @include tp-respond-above($tp-wrap__no-pad-width) {
        padding-left: 0;
        padding-right: 0;
    }
}

.bleedBelowSmall {
    @include tp-respond-below($tp-breakpoint__small) {
        padding-left: 0;
        padding-right: 0;
    }
}

.bleedBelowMedium {
    @include tp-respond-below($tp-breakpoint__medium) {
        padding-left: 0;
        padding-right: 0;
    }
}

.bleedBelowLarge {
    @include tp-respond-below($tp-breakpoint__large) {
        padding-left: 0;
        padding-right: 0;
    }
}
