.dont:after,
.dont:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    height: calc(100% + 32px);
    width: 5px;
    background: #ff5a5f;
    opacity: 0.6;
    border-radius: 2px;
    z-index: 1;
}
.dont:before {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(135deg);
    transform: translateX(-50%) translateY(-50%) rotate(135deg);
}
