@import '~@thumbtack/thumbprint-tokens/dist/scss/_index';
@import '~@thumbtack/thumbprint-scss/mixins';

.root {
    border-top: 1px solid $tp-color__gray;
    margin-top: auto;
    padding: tp-spacer(3) tp-spacer(2.5);
}
