@import '~@thumbtack/thumbprint-tokens/dist/scss/_index';
@import '~@thumbtack/thumbprint-scss/mixins';

.root {
    border-top: 1px solid $tp-color__gray;
    margin-top: auto;
    padding: $tp-space__4 20px;
}
