@import '../../shared.scss';

.root {
    @include root;
}

.box {
    @include box;
    position: absolute;
    left: 0;
    transform: scale(0.95);
}

.isActive {
    z-index: 1;
    transform: scale(1);
    transition: all 500ms;
}

.nav {
    height: 10%;
    position: absolute;
    top: 90%;
    z-index: 1;
}

.button {
    -webkit-appearance: none;
    border: none;
    padding: 0;
    outline: none;
}
