@import '~@thumbtack/thumbprint-tokens/dist/scss/_index.scss';
@import '../mixins/mixin';

@mixin tp-list {
    margin-bottom: 12px;
    margin-left: $tp-space__4;

    > li {
        padding-left: $tp-space__1;

        @include tp-respond-above($tp-breakpoint__small) {
            padding-left: 12px;
        }
    }
}

@mixin tp-list--disc {
    list-style-type: disc;
}

@mixin tp-list--decimal {
    list-style-type: decimal;
}

@mixin tp-list--lower-alpha {
    list-style-type: lower-alpha;
}

@mixin tp-list--spaced {
    > li {
        margin-bottom: $tp-space__1;
    }
}
