@import '~@thumbtack/thumbprint-tokens/dist/scss/_index.scss';
@import '../mixins/mixin';

@mixin tp-list {
    margin-bottom: tp-spacer(1.5);
    margin-left: tp-spacer(3);

    > li {
        padding-left: tp-spacer(0.5);

        @include tp-respond-above($tp-breakpoint__small) {
            padding-left: tp-spacer(1.5);
        }
    }
}

@mixin tp-list--disc {
    list-style-type: disc;
}

@mixin tp-list--decimal {
    list-style-type: decimal;
}

@mixin tp-list--lower-alpha {
    list-style-type: lower-alpha;
}

@mixin tp-list--spaced {
    > li {
        margin-bottom: tp-spacer(0.5);
    }
}
