@import '~@thumbtack/thumbprint-tokens/dist/scss/_index.scss';
@import '../mixins/mixin';

@mixin tp-longread {
    h1 {
        font-size: $tp-font__title__3__size;
        line-height: $tp-font__title__3__line-height;
        font-weight: $tp-font__title__3__weight;

        @include tp-respond-above($tp-breakpoint__medium) {
            font-size: $tp-font__title__3__responsive__size;
            line-height: $tp-font__title__3__responsive__line-height;
            font-weight: $tp-font__title__3__responsive__weight;
        }
    }

    h2 {
        font-size: $tp-font__title__4__size;
        line-height: $tp-font__title__4__line-height;
        font-weight: $tp-font__title__4__weight;
        margin-top: 40px;
    }

    h3 {
        font-size: $tp-font__title__5__size;
        line-height: $tp-font__title__5__line-height;
        font-weight: $tp-font__title__5__weight;
        margin-top: $tp-space__5;
    }

    ul,
    ol {
        margin-bottom: 12px;
        margin-left: $tp-space__4;

        > li {
            padding-left: $tp-space__1;

            @include tp-respond-above($tp-breakpoint__small) {
                padding-left: 12px;
            }
        }
    }

    ul {
        list-style-type: disc;
    }

    ol {
        list-style-type: decimal;
    }

    p,
    ul,
    ol {
        margin-bottom: 20px;
        margin-top: 20px;
    }
}
