@import '~@thumbtack/thumbprint-tokens/dist/scss/_index.scss';
@import '../mixins/mixin';

// Type mixins
// Title and body styles

@mixin tp-title-1($important: null) {
    font-size: $tp-font__title__1__size $important;
    line-height: $tp-font__title__1__line-height $important;
    font-weight: $tp-font__title__1__weight $important;

    @include tp-respond-above($tp-breakpoint__medium) {
        font-size: $tp-font__title__1__responsive__size $important;
        line-height: $tp-font__title__1__responsive__line-height $important;
        font-weight: $tp-font__title__1__responsive__weight $important;
    }
}

@mixin tp-title-2($important: null) {
    font-size: $tp-font__title__2__size $important;
    line-height: $tp-font__title__2__line-height $important;
    font-weight: $tp-font__title__2__weight $important;

    @include tp-respond-above($tp-breakpoint__medium) {
        font-size: $tp-font__title__2__responsive__size $important;
        line-height: $tp-font__title__2__responsive__line-height $important;
        font-weight: $tp-font__title__2__responsive__weight $important;
    }
}

@mixin tp-title-3($important: null) {
    font-size: $tp-font__title__3__size $important;
    line-height: $tp-font__title__3__line-height $important;
    font-weight: $tp-font__title__3__weight $important;

    @include tp-respond-above($tp-breakpoint__medium) {
        font-size: $tp-font__title__3__responsive__size $important;
        line-height: $tp-font__title__3__responsive__line-height $important;
        font-weight: $tp-font__title__3__responsive__weight $important;
    }
}

@mixin tp-title-4($important: null) {
    font-size: $tp-font__title__4__size $important;
    line-height: $tp-font__title__4__line-height $important;
    font-weight: $tp-font__title__4__weight $important;
}

@mixin tp-title-5($important: null) {
    font-size: $tp-font__title__5__size $important;
    line-height: $tp-font__title__5__line-height $important;
    font-weight: $tp-font__title__5__weight $important;
}

@mixin tp-title-6($important: null) {
    font-size: $tp-font__title__6__size $important;
    line-height: $tp-font__title__6__line-height $important;
    font-weight: $tp-font__title__6__weight $important;
}

@mixin tp-title-7($important: null) {
    font-size: $tp-font__title__7__size $important;
    line-height: $tp-font__title__7__line-height $important;
    font-weight: $tp-font__title__7__weight $important;
}

@mixin tp-title-8($important: null) {
    font-size: $tp-font__title__8__size $important;
    line-height: $tp-font__title__8__line-height $important;
    font-weight: $tp-font__title__8__weight $important;
}

@mixin tp-body-1($important: null) {
    font-size: $tp-font__body__1__size $important;
    line-height: $tp-font__body__1__line-height $important;
}

@mixin tp-body-2($important: null) {
    font-size: $tp-font__body__2__size $important;
    line-height: $tp-font__body__2__line-height $important;
}

@mixin tp-body-3($important: null) {
    font-size: $tp-font__body__3__size $important;
    line-height: $tp-font__body__3__line-height $important;
}

// DEPRECATED

@mixin tp-heading-1($important: null) {
    font-size: 32px $important;
    line-height: 1.3 $important;
    font-weight: $tp-font-weight__normal $important;

    @include tp-respond-above($tp-breakpoint__medium) {
        font-size: 48px $important;
        line-height: 1.1 $important;
        font-weight: $tp-font-weight__normal $important;
    }
}

@mixin tp-heading-2($important: null) {
    font-size: 30px $important;
    line-height: 1.3 $important;
    font-weight: $tp-font-weight__normal $important;

    @include tp-respond-above($tp-breakpoint__medium) {
        font-size: 40px $important;
        line-height: 1.2 $important;
        font-weight: $tp-font-weight__normal $important;
    }
}

@mixin tp-heading-3($important: null) {
    font-size: 24px $important;
    line-height: 1.4 $important;
    font-weight: $tp-font-weight__normal $important;

    @include tp-respond-above($tp-breakpoint__medium) {
        font-size: 32px $important;
        line-height: 1.3 $important;
        font-weight: $tp-font-weight__normal $important;
    }
}

@mixin tp-heading-4($important: null) {
    font-size: 20px $important;
    line-height: 1.4 $important;
    font-weight: $tp-font-weight__normal $important;

    @include tp-respond-above($tp-breakpoint__medium) {
        font-size: 24px $important;
        line-height: 1.4 $important;
        font-weight: $tp-font-weight__normal $important;
    }
}

@mixin tp-heading-5($important: null) {
    font-size: 16px $important;
    line-height: 1.6 $important;
    font-weight: $tp-font-weight__normal $important;

    @include tp-respond-above($tp-breakpoint__medium) {
        font-size: 20px $important;
        line-height: 1.5 $important;
        font-weight: $tp-font-weight__normal $important;
    }
}

@mixin tp-heading-6($important: null) {
    font-size: 14px $important;
    line-height: 1.6 $important;
    font-weight: $tp-font-weight__normal $important;

    @include tp-respond-above($tp-breakpoint__medium) {
        font-size: 16px $important;
        line-height: 1.6 $important;
        font-weight: $tp-font-weight__normal $important;
    }
}

// Text sizes

@mixin tp-text-1--static($important: null) {
    font-size: $tp-font__title__4__size $important;
    line-height: 1.6 $important;
}

@mixin tp-text-1($important: null) {
    @include tp-text-1--static($important: null);
    @include tp-respond-above($tp-breakpoint__medium) {
        font-size: 24px $important;
        line-height: 1.5 $important;
    }
}

@mixin tp-text-2--static($important: null) {
    font-size: $tp-font__body__1__size $important;
    line-height: 1.6 $important;
}

@mixin tp-text-3--static($important: null) {
    font-size: $tp-font__body__2__size $important;
    line-height: 1.6 $important;
}

@mixin tp-text-4--static($important: null) {
    font-size: $tp-font__body__3__size $important;
    line-height: 1.6 $important;
}
