@import '~@thumbtack/thumbprint-tokens/dist/scss/_index.scss';
@import '../mixins/mixin';

@mixin tp-wrap {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: $tp-wrap__max-width;
    padding-left: $tp-space__3;
    padding-right: $tp-space__3;

    @include tp-respond-above($tp-breakpoint__small) {
        padding-left: $tp-space__5;
        padding-right: $tp-space__5;
    }

    @include tp-respond-above($tp-wrap__no-pad-width) {
        padding-left: 0;
        padding-right: 0;
    }
}

// This is deprecated in favor of non-snapping wrappers.
// @deprecated
@mixin tp-wrap-snap {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: $tp-space__3;
    padding-right: $tp-space__3;

    @include tp-respond-above($tp-breakpoint__small) {
        max-width: 449px;
        padding-left: 0; // Padding only applies to small size and below.
        padding-right: 0; // Padding only applies to small size and below.
    }

    @include tp-respond-above($tp-breakpoint__medium) {
        max-width: 668px;
    }

    @include tp-respond-above($tp-breakpoint__large) {
        max-width: 946px;
    }
}

@mixin tp-wrap--bleed-below-small {
    @include tp-respond-below($tp-breakpoint__small) {
        padding-left: 0;
        padding-right: 0;
    }
}
