@import '~@thumbtack/thumbprint-tokens/dist/scss/_index';

.text {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: $tp-font__body__1__size;
    line-height: $tp-font__body__1__line-height;
    margin-bottom: $tp-space__2;

    &UiState {
        &Disabled {
            color: $tp-color__gray;
        }

        &Error {
            color: $tp-color__red;
        }

        &Default {
            color: $tp-color__black;
        }
    }
}
