@import 'node_modules/@thumbtack/thumbprint-tokens/dist/scss/_index';
@import 'node_modules/@thumbtack/tp-ui-core-function/_index';
@import 'node_modules/@thumbtack/tp-ui-core-mixin/_index';

@mixin tp-wrap {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: $tp-wrap__max-width;
    padding-left: tp-spacer(2);
    padding-right: tp-spacer(2);

    @include tp-respond-above($tp-breakpoint__small) {
        padding-left: tp-spacer(4);
        padding-right: tp-spacer(4);
    }

    @include tp-respond-above($tp-wrap__no-pad-width) {
        padding-left: 0;
        padding-right: 0;
    }
}

@mixin tp-wrap-snap {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: tp-spacer(2);
    padding-right: tp-spacer(2);

    @include tp-respond-above($tp-breakpoint__small) {
        max-width: $tp-wrap-snap__small;
        padding-left: 0; // Padding only applies to small size and below.
        padding-right: 0; // Padding only applies to small size and below.
    }

    @include tp-respond-above($tp-breakpoint__medium) {
        max-width: $tp-wrap-snap__medium;
    }

    @include tp-respond-above($tp-breakpoint__large) {
        max-width: $tp-wrap-snap__large;
    }
}

@mixin tp-wrap--bleed-below-small {
    @include tp-respond-below($tp-breakpoint__small) {
        padding-left: 0;
        padding-right: 0;
    }
}
