// TEMP:(Tom) just for testing

@font-face {
    font-family: 'Mark';
    font-weight: 400;
    src: url(https://fonts.thumbtack.com/mark/mark-tt-subset.woff2) format('woff2'),
        url(https://fonts.thumbtack.com/mark/mark-tt-subset.woff) format('woff');
}

@font-face {
    font-family: 'Mark';
    font-weight: 700;
    src: url(https://fonts.thumbtack.com/mark/mark-tt-subset-bold.woff2) format('woff2'),
        url(https://fonts.thumbtack.com/mark/mark-tt-subset-bold.woff) format('woff');
}

table.button {
    width: auto;
    margin: 0 0 16px 0;
    margin: 0 0 16px 0;

    table {
        td {
            text-align: left;
            color: white;
            background: #009fd9;
            border-radius: 4px;

            a {
                font-family: Mark;
                font-size: 16px;
                font-weight: 700;
                color: white;
                text-decoration: none;
                text-align: left;
                display: inline-block;
                padding: 13px 24px;
                border: 0 solid #009fd9;
            }
        }
    }
}

table.button.tertiary {
    table {
        td {
            background: white;
            color: #676d73;

            a {
                background: white;
                border: 2px solid #d3d4d5;
                color: #676d73;
                padding: 11px 22px;
                border-radius: 4px;
            }
        }
    }
}

// Expand to full

table.button.expand,
table.button.expanded {
    width: 100%;

    table {
        width: 100%;

        a {
            text-align: center;
            width: 100%;
            padding-left: 0;
            padding-right: 0;
        }
    }

    center {
        min-width: 0;
    }
}
