@import '~@thumbtack/thumbprint-tokens/dist/scss/_index';

// Font Support:
// - woff2: Chrome, Firefox, IE Edge
// - woff: IE 9+, Safari, all others
@if variable-exists(thumbprint-font-url) {
    @font-face {
        font-family: 'Mark';
        font-weight: 400;
        src: url(#{$thumbprint-font-url}mark/mark-tt.woff2) format('woff2'),
            url(#{$thumbprint-font-url}mark/mark-tt.woff) format('woff');
    }

    @font-face {
        font-family: 'Mark';
        font-weight: 700;
        src: url(#{$thumbprint-font-url}mark/mark-tt-bold.woff2) format('woff2'),
            url(#{$thumbprint-font-url}mark/mark-tt-bold.woff) format('woff');
    }
} @else {
    @error "The variable `$thumbprint-font-url` must be provided if using the `@thumbtack/tp-ui-core-font-face` package. Please visit our documentation for help: https://thumbprint.design/components/font-face/scss/";
}
