@import '~@thumbtack/thumbprint-tokens/dist/scss/_index';

// provides x overlay on top of content region
.crossout {
    &:after,
    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
        height: calc(100% + 32px);
        width: 5px;
        background: #ff5a5f;
        opacity: 0.6;
        border-radius: 2px;
        z-index: 1;
    }
    &:before {
        -webkit-transform: translateX(-50%) translateY(-50%) rotate(135deg);
        transform: translateX(-50%) translateY(-50%) rotate(135deg);
    }
}

// alternative option that excludes the X overlaying content
.coloredHeading {
    &.do {
        .icon {
            fill: $tp-color__green;
        }

        .content {
            border-top: 2px solid $tp-color__green !important;
            color: $tp-color__black-300 !important;
        }
    }

    &.dont {
        .icon {
            fill: $tp-color__red;
        }
        .content {
            border-top: 2px solid $tp-color__red !important;
            color: $tp-color__black-300 !important;
        }
    }
}

// table version for direct comparisons (text only)
.isTable {
    border-collapse: separate;

    td,
    th {
        vertical-align: top;
        border-left: 2px solid $tp-color__white !important;
        border-collapse: separate !important;
        border-spacing: 12px !important;
        padding: 16px !important;
    }

    td {
        color: $tp-color__black-300 !important;
    }

    .do {
        border-bottom: 2px solid $tp-color__green !important;

        .icon {
            fill: $tp-color__green;
        }
    }

    .dont {
        border-bottom: 2px solid $tp-color__red !important;

        .icon {
            fill: $tp-color__red;
        }
    }
}
