@import '~@thumbtack/thumbprint-tokens/dist/scss/_index';

.root {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.button {
    -webkit-appearance: none;
    border: none;
    outline: none;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}

.box {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 3px;
    background: $tp-color__black-300;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 150ms cubic-bezier(0, 0, 0.4, 1), transform 150ms cubic-bezier(0, 0, 0.4, 1);
}

.active {
    opacity: 0;
    transform: translateY(16px);
}
