@import '~@thumbtack/thumbprint-tokens/dist/scss/_index';

.root {
    position: relative;
    display: flex;
    align-items: center;
}

.input {
    position: absolute;
    opacity: 0;
    z-index: -1;
    width: 1px;
    height: 1px;

    &:focus ~ .radio-image {
        box-shadow: 0 0 0px 4px $tp-color__gray-300;
    }
}

.radioImage {
    width: 20px;
    height: 20px;
    margin-top: -1px;
    border-radius: $tp-border__radius__full;
}

.text {
    // This must take up the remaining available space for content that must be right-aligned.
    flex: 1 0 0%;
    // 'min-width' is needed to allow text within the radio to truncate.
    min-width: 0;
    font-size: $tp-font__body__1__size;
    font-weight: 400;
    padding-left: 8px;
}
