.image,
.picture {
    display: block;
    width: 100%;
}

.picture {
    overflow: hidden;
}

.imageFadeInStart {
    opacity: 0;
}

.imageFadeInEnd {
    opacity: 1;
    transition: opacity 300ms;
}

.imageError {
    opacity: 1;
}
