.image,
.picture {
    display: block;
    width: 100%;
}

.image {
    object-fit: cover;
    object-position: center center;
}

.imageLoading {
    opacity: 0;
}

.imageLoaded {
    opacity: 1;
    transition: opacity 300ms;
}
