@import '~@thumbtack/thumbprint-tokens/dist/scss/_index';

.root {
    position: relative;
}

.rootXsmall {
    width: 20px;
    height: 20px;
    font-size: 8px;
}

.rootSmall {
    width: 32px;
    height: 32px;
    font-size: $tp-font__body__3__size;
}

.rootMedium {
    width: 48px;
    height: 48px;
    font-size: $tp-font__body__3__size;
}

.rootLarge {
    width: 72px;
    height: 72px;
    font-size: $tp-font__body__2__size;
}

.rootXlarge {
    width: 124px;
    height: 124px;
    font-size: $tp-font__title__4__size;
}

// baseAvatar is a collection of styles common to all avatars.
.baseAvatar {
    height: 100%;
    width: 100%;
    object-fit: cover;
    // ls.object-fit requires us to store this attribute somewhere IE can read it
    // see: https://github.com/aFarkas/lazysizes/tree/gh-pages/plugins/object-fit
    font-family: 'object-fit: cover';
}

// initialsAvatar is used when there is no image available.
.initialsAvatar {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: initial;
    font-weight: 700;
}

.circleAvatar {
    border-radius: 50%;
}

.squareAvatar {
    border-radius: 4px;
}
