@import '~@thumbtack/thumbprint-tokens/dist/scss/_index';

.tr {
    border-bottom: 1px solid #eee;
}

.tr:first-child {
    border-width: 2px;
}

.td {
    text-align: center;
    padding: 10px;
    width: 100px;
    font-size: 14px;

    &:first-child {
        text-align: left;
        padding-left: 0;
        width: 50%;
    }

    &:not(:first-child) {
        color: #676d73;
        font-size: 14px;
    }
}

.tr:first-child td {
    font-weight: $tp-font-weight__bold;
    color: inherit;
}

.isQuarter {
    font-weight: $tp-font-weight__bold;
    padding-top: 32px;

    & ~ td {
        font-size: 0 !important;
    }
}

.isQuarter .isHidden,
.isProgress,
.isDone {
    font-size: 0 !important;
}

.isProgress:after,
.isDone:after {
    content: '';
    display: inline-block;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 3px solid #febe14;
}

.isDone:after {
    border: 0;
    background: #009fd9;
}
